<div class="white-ground">
	<div id="tag">
		<div class="container">
			<h2 style="font-size: 2.5em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
		</div>
		<div class="container master-padding">
			
			<h5>Dashboard</h5>
			<p>You can soon access current and useful information from here.</p>
			<br />
			<p><strong>Hello <%= @user = User.get(session[:admin]).first_name %> <%= @user = User.get(session[:admin]).last_name %></strong></p><small><%= Time.now.strftime("%A %d %B %Y") %></small>
			<hr />
			<h5>Manager Users</h5>
			<p><a href="/users" class="btn btn-success btn-sm">Users</a></p>
			<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		</div>
	</div><%= @user_id %>
</div>
<script type="text/javascript">
	$('.link-row').click(function() {
		window.location = $(this).attr('id');
	});

	$('td.read-link[data-status="true"]').hide();
	
	$('#read-list-toggle button').click(function() {
		$('#read-list-toggle button').removeClass('Unread');
		$(this).addClass('Unread');
		var status = $(this).attr('data-toggle');
		$('.read-link').hide();
		$('.read-link[data-status="' + status + '"]').show();
		return false;
	});
</script>