<div class="white-ground">
	<div id="tag">
		<div class="top-bar">
			<div class="container">
				<h2 style="font-size: 2.5em; margin-top: 4px; letter-spacing: -1px; color: white;">Dinamec<span style="font-weight: 300; color: #b5b5b5;">Systems</span></h2>
			</div>
		</div>
	<div class="container master-padding">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<br /><br /><br />
				<h1 style="font-size: 3em;">Thank You</h1>
				<h2>Your Thermal Cleaning Questionnaire has been submitted to Dinamec Systems for review</h2>
				<p>Please allow some time for an assessment and a representative will contact you.</p> 
				<p>If you do not get a response within 24 hours call 770-421-1181 for a friendly voice.</p>
				<br /><br /><br />
			</div>
		</div>
	</div>
</div> 