<div class="white-ground">
	<div id="tag">
		<div class="container">
			<h2 style="font-size: 2.5em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
		</div>
	<div class="container master-padding">
		<div class="row">
				<div class="col-md-6">
					<h2>You can get a demonstration of the Dinamec Systems Fluid Clean process</h2>
					<p>Let us prove our cleaning efficiency by performing a trial cleaning at one of our testing facilities. Complete and submit the form below and a Dinamec Systems representative will be in touch.</p>
					<br />
					<form class="form-horizontal" method="post">
					  <div class="form-group">
					    <label for="name" class="col-sm-2 control-label">Name</label>
					    <div class="col-sm-10">
					      <input type="name" class="form-control" id="name" placeholder="Name">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="company" class="col-sm-2 control-label">Company</label>
					    <div class="col-sm-10">
					      <input type="company" class="form-control" id="company" placeholder="Company">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="phone" class="col-sm-2 control-label">Phone</label>
					    <div class="col-sm-10">
					      <input type="phone" class="form-control" id="phone" placeholder="Phone">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="part" class="col-sm-2 control-label">Description</label>
					    <div class="col-sm-10">
					      <textarea class="form-control" rows="6" placeholder="Description of part to be cleaned"></textarea>
					    </div>
					  </div>
					  <button type="submit" class="btn btn-default btn-success pull-right" disabled="disabled">Submit</button>
					</form>
				</div>
			</div>
			<br /><br /><br />
		</div>
	</div>
</div>



