<div class="white-ground">
	<div id="tag">
		<div class="container">
			<h2 style="font-size: 2.5em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
		</div>
	<div class="container master-padding">
		<h1>Contact Us</h1>
		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#sales" aria-controls="sales" role="tab" data-toggle="tab">Sales</a></li>
				<li role="presentation"><a href="#parts" aria-controls="parts" role="tab" data-toggle="tab">Part &amp; Service</a></li>
				<li role="presentation"><a href="#faq" aria-controls="faq" role="tab" data-toggle="tab">FAQs</a></li>
				<!-- <li role="presentation"><a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">Ask Us</a></li> -->
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="sales">
					<div class="row container">
						<div class="col-md-12">
							<h3>Dinamec Systems Inc.</h3>
			         	4285 McEver Industrial Drive, NW<br />
							Acworth, Georgia 30101 USA <br /><br />

							Toll Free:&nbsp; 1-888-346-2632 <br />
							Phone:&nbsp;&nbsp; 770-421-1181 <br />
							Fax:&nbsp; 770-421-8611
						</div>
					</div>
					<div class="row container" style="display: block; margin-top: 2em;">
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/nancy-wilkins.jpg" class="border shadow" /><br />
							<strong>Nancy Wilkins</strong><br />
							<small>President</small><br />
							<small>770-421-1181 X234</small><br />
							<small><a href="mailto:nancy.wilkins@dinamecsystems.com">Email</a></small><br />
							<br />
						</div>
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/david-wilkins.jpg" class="border shadow" /><br />
							<strong>David Wilkins</strong><br />
							<small>Vice President/Managing Director</small><br />
							<small>770-421-1181 X228</small><br />
							<small>404-975-8067 Mobile</small><br />
							<small><a href="mailto:david.wilkins@dinamecsystems.com">Email</a></small><br />
						</div>
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/luc-ceyssens.jpg" class="border shadow" /><br />
							<strong>Luc Ceyssens</strong><br />
							<small>Managing Director</small><br />
							<small>770-421-1181 X227</small><br />
							<br />
							<br />
							<br />
						</div>
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/wayne_mcfarland.jpg" class="border shadow" /><br />
							<strong>Wayne McFarland</strong><br />
							<small>General Manager/Project Manager</small><br />
							<small>770-421-1181 X232</small><br />
							<small>678-429-6380 Mobile</small><br />
							<small><a href="mailto:wayne.mcfarland@dinamecsystems.com">Email</a></small><br />
						</div>
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/darlene_wilson.jpg" class="border shadow" /><br />
							<strong>Darlene Wilson</strong><br />
							<small>Office and Finance Manager</small><br />
							<small>770-421-1181 X222</small><br />
							<small><a href="mailto:darlene.wilson@dinamecsystems.com">Email</a></small><br />
							<br />
						</div>
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/Drew_Jones.jpg" class="border shadow" /><br />
							<strong>Drew Jones</strong><br />
							<small>General Sales Manager</small><br />
							<small>770-421-1181 X242</small><br />
							<small>678-977-7230 Mobile</small><br />
							<small><a href="mailto:drew.jones@dinamecsystems.com">Email</a></small><br />
							<br /><br />
						</div>
						
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/Robert_Lasky.jpg" class="border shadow" /><br />
							<strong>Robert Lasky</strong><br />
							<small>Sales Manager Plastic and Fiber</small><br />
							<small>732-329-0085</small><br />
							<small><a href="mailto:robert.lasky@dinamecsystems.com">Email</a></small><br />
							<br />
						</div>
					</div>
						<p class="empic border" style="margin: 24px 24px 42px 24px; padding: 14px; line-height: 1.5em; 
						-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);">
							<span style="font-weight: bold; color: #195fae; font-size: 16px;">David J. Spain</span><br /><br />

							We are saddened at the loss of a dear friend and colleague David J. Spain. David passed away on October 18, 2014 and will be truly missed by all of us here at Dinamec Systems. David was a valued employee of Dinamec Systems, (Keppel Seghers) for over 22 years.<br /><br /> 
							<em>God Bless you David.</em>
						</p>
						
						
				</div>
				<div role="tabpanel" class="tab-pane fade" id="parts">
					<div class="row container">
						<div class="col-md-12">
							<h3>Dinamec Systems Inc.</h3>
			         	4285 McEver Industrial Drive, NW<br />
							Acworth, Georgia 30101 USA <br /><br />

							Toll Free:&nbsp; 1-888-346-2632 <br />
							Phone:&nbsp;&nbsp; 770-421-1181 <br />
							Fax:&nbsp; 770-421-8611
						</div>
					</div>
					<div class="row container" style="display: block; margin-top: 2em;">
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/denis_lantzer.jpg" class="border shadow" /><br />
							<strong>Dennis Lantzer</strong><br />
							<small>Service</small><br />
							<small>770-421-1181 X226</small><br />
							<small>770-876-8116 Mobile</small><br />
							<small><a href="mailto:dennis.lantzer@dinamecsystems.com">Email</a></small><br />
						</div>
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/bruce_center.jpg" class="border shadow" /><br />
							<strong>Bruce Center</strong><br />
							<small>After Sales Parts/Service Manager</small><br />
							<small>770-421-1181 X223</small><br />
							<small>770-876-8113 Mobile</small><br />
							<small><a href="mailto:bruce.center@dinamecsystems.com">Email</a></small><br />
						</div>
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/Scott_Marshall.jpg" class="border shadow" /><br />
							<strong>Scott Marshall</strong><br />
							<small>Service Technician</small><br />
							<small>770-421-1181 X243</small><br />
							<small><a href="mailto:scott.marshall@dinamecsystems.com">Email</a></small><br />
							<br /><br />
						</div>
						<div class="col-md-3 col-sm-4 emp">
							<img src="img/emp/Samantha_Wilkins.jpg" class="border shadow" /><br />
							<strong>Samantha Wilkins</strong><br />
							<small>After Sales Parts and Service / Marketing</small><br />
							<small>770-421-1181 X236</small><br />
							<small><a href="mailto:samantha.wilkins@dinamecsystems.com">Email</a></small><br />
							<br />
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="faq">
					<div class="row container">
						<div class="col-md-9">
							<h2>FAQs</h2>
							<h3>Can I get a demonstration of the cleaning process?</h3>
							<p>Yes. Let us prove our cleaning efficiency by performing a <a href="cleaning.php">trial cleaning</a> at one of our testing facilities.</p>
							<h3>How does the cleaning process affect the environment?</h3>
							<p>As well as cleaning your metal parts thoroughly, our installations also ensure a clean and healthy solution for both the environment and your operators with no chemicals or wastewater.</p>
							<h3>How do I determine which design fits my specific needs?</h3>
							<p>Our team of specialists will carefully select the best design for your specific business and local regulations.</p>
						</div>
						<div class="col-md-6">
							<h2>What's on your mind?</h2><br />
							<form class="form-horizontal">
							  <div class="form-group">
							    <label for="inputName" class="col-sm-2 control-label">Name</label>
							    <div class="col-sm-10">
							      <input type="name" class="form-control" id="inputName" placeholder="Name">
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
							    <div class="col-sm-10">
							      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
							    <div class="col-sm-10">
							      <input type="phone" class="form-control" id="inputPhone" placeholder="Phone">
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="inputPassword" class="col-sm-2 control-label">Message</label>
							    <div class="col-sm-10">
							      <textarea class="form-control" rows="6"></textarea>
							    </div>
							  </div>
							  <button type="submit" class="btn btn-default btn-success pull-right">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<!-- <div role="tabpanel" class="tab-pane" id="questions">
					<div class="row container">
						<div class="col-md-6">
							<h2>What's on your mind?</h2><br />
							<form class="form-horizontal">
							  <div class="form-group">
							    <label for="inputName" class="col-sm-2 control-label">Name</label>
							    <div class="col-sm-10">
							      <input type="name" class="form-control" id="inputName" placeholder="Name">
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
							    <div class="col-sm-10">
							      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
							    <div class="col-sm-10">
							      <input type="phone" class="form-control" id="inputPhone" placeholder="Phone">
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="inputPassword" class="col-sm-2 control-label">Message</label>
							    <div class="col-sm-10">
							      <textarea class="form-control" rows="6"></textarea>
							    </div>
							  </div>
							  <button type="submit" class="btn btn-default btn-success pull-right">Submit</button>
							</form>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	</div> <!-- /container -->
</div>

