<div class="white-ground">
	<div class="container">
		<h2 style="font-size: 2.5em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
	</div>
	<div class="container master-padding">
		<h1>Customers</h1>
		<h2>Installations for Cleaning of Metal Parts </h2>
		<p>With over 900 satisfied customers world wide the <strong>Dinamec Systems Fluid Clean</strong> is by far the fluidized bed cleaning system of choice for the industry leaders across a wide spectrum of manufacturing applications.  As a testimony to our value, reliability and after sale service many of our customers have purchased our fluidized beds for multiple locations.</p>
		<p>With a client list that includes Chrysler, Ford, General Motors, Toyota, Honda, Nissan, GE Plastics, DuPont, Master Lock, Black and Decker, Caterpillar, Bayer, Mold Masters, Nypro, Husky, Ampacet, Vibracoustic, Cooper Industries, Moen, Delta Faucets, Cardone Industries, Knoll, Denso, BASF, Tupperware and countless others: the <strong>Dinamec Systems Fluid Clean</strong> reigns supreme as the quality leader in our industry.</p>
      <p>Some of our major industrial installations include: </p>
       
      <div class="pic_left">
			<img src="img/toyota.jpg" class="border floatleft" />
			<h6>Toyota Motor Thailand Co., Ltd. (TMT), Thailand</h6>
			<p><strong>Dinamec Systems Fluid Clean</strong> installation for paint removal from dollies, grates and jigs to contribute significantly to production optimization</p>
		</div>
		
      <div class="pic_left">
			<img src="img/redriver.jpg" class="border floatleft" />
			<h6>Red River Army Depot (RRAD), USA</h6>
			<p>Custom-made <strong>Dinamec Systems Fluid Clean</strong> installation for rubber removal from tank tracks and wheels for optimal refurbishment and increased life cycle of the military parts.  With our unique processing of corrosive off gassing, this turn key installation is both efficient and environmentally friendly.</p>
      </div> 
           
      <div class="pic_left">
			<img src="img/ykk.jpg" class="border floatleft" />
			<h6>YKK, USA, Hong Kong, China, Taiwan, Japan, Brazil, Thailand, Viet Nam</h6>     
			<p><strong>Dinamec Systems Fluid Clean</strong> installation for paint stripping from the sensitive paint barrels, used for painting YKK&rsquo;s zippers.  YKK has purchased <strong>Dinamec Systems Fluid Clean</strong> for most of their facilities. </p>
      </div>
      
      <div class="pic_left">
			<img src="img/valmont.jpg" class="border floatleft" />
			<h6>Valmont Industries USA</h6>     
			<p><strong>Dinamec Systems Fluid Clean</strong> installation for paint stripping of tempered paint hooks. Using a solution developed for a similar John Deere application Dinamec Systems was able to provide a consistent cleaning temperature below a critical threshold.  With a homogenous heat distribution throughout the bed and precise temperature control fixtures are protected from <br />
damage by overheating.</p>
      </div>
       
      <div class="pic_left">
			<img src="img/table_installations_5.jpg" class="border floatleft" />
			<h6>Rubbermaid USA</h6>
			<p><strong>Dinamec Systems Fluid Clean</strong> installation for powder coat removal from powder coating hooks.  After 14 years of successful operation of their first machine, they purchased another more modern unit in 2010.</p>
		</div>
	</div> <!-- /container -->
</div>
