<img src="/img/ribbon.png" style="position: absolute; right: 3%; top: 44px; z-index: 1000; width: 170px;" class="hidden-xs" />

<div class="white-ground">
	<div id="tag">
		<div class="container">
			<img src="/img/dinamec-logo-notag.png" style="width: 180px; margin-top: 14px;">
		</div>
		<div class="top-bar" style="margin-top: 12px; font-size: 0.45em;">&nbsp;</div>
	</div>
	
	<div class="container master-padding">
		<h1>Customers</h1>
		<h2>Installations for Cleaning of Metal Parts </h2>
		<div class="row">
			<div class="col-md-6">
				<p>With over 2,000 satisfied customers worldwide the <strong>Dinamec Systems Fluid Clean</strong> is by far the fluidized bed cleaning system of choice for the industry leaders across a wide spectrum of manufacturing applications. As a testimony to our value, reliability and after sale service many of our customers have purchased our fluidized beds for multiple locations.</p>
			</div>
			<div class="col-md-6">
				<p>With a client list that includes Chrysler, General Motors, DuPont, Master Lock, Black and Decker, Caterpillar, Mold Masters, Nypro, Husky, Ampacet, Vibracoustic, Cooper Lighting, Moen, Delta Faucets, Knoll, Tupperware and countless others: the <strong>Dinamec Systems Fluid Clean</strong> reigns supreme as the quality leader in our industry.</p>
			</div>
		</div>
      <h6>Some of our major industrial installations include:</h6><br />
      <div class="row">
	      <!-- <div class="col-md-4 col-sm-6">
				<img src="img/toyota.jpg" class="border shadow" />
				<h6>Toyota Motor Thailand Co., Ltd. (TMT), Thailand</h6>
				<p><strong>Dinamec Systems Fluid Clean</strong> installation for paint removal from dollies, grates and jigs to contribute significantly to production optimization<br /><br /></p>
			</div> -->
	      <div class="col-md-4 col-sm-6">
				<img src="img/redriver.jpg" class="border shadow" />
				<h6>Red River Army Depot (RRAD), USA</h6>
				<p>Custom-made <strong>Dinamec Systems Fluid Clean</strong> installation for rubber removal from tank tracks and wheels for optimal refurbishment and increased life cycle of the military parts.  With our unique processing of corrosive off gassing, this turn key installation is both efficient and environmentally friendly.<br /><br /></p>
				
				<img src="img/table_installations_5.jpg" class="border shadow" />
				<h6>Rubbermaid USA</h6>
				<p><strong>Dinamec Systems Fluid Clean</strong> installation for powder coat removal from powder coating hooks.  After 14 years of successful operation of their first machine, they purchased another more modern unit in 2010.<br /><br /></p>
				
	      </div> 
	      <div class="col-md-4 col-sm-6">
				<img src="img/valmont.jpg" class="border shadow" />
				<h6>Valmont Industries USA</h6>     
				<p><strong>Dinamec Systems Fluid Clean</strong> installation for paint stripping of tempered paint hooks. Using a solution developed for a similar John Deere application Dinamec Systems was able to provide a consistent cleaning temperature below a critical threshold.  With a homogenous heat distribution throughout the bed and precise temperature control fixtures are protected from damage by overheating.<br /><br /></p>
	      </div>
	      <div class="col-md-4 col-sm-6">
				<img src="img/ykk.jpg" class="border shadow" />
				<h6>YKK, Brazil, Canada, USA, Mexico, Taiwan, and Turkey</h6>     
				<p><strong>Dinamec Systems Fluid Clean</strong> installation for paint stripping from the sensitive paint barrels, used for painting YKK&rsquo;s zippers.  YKK has purchased <strong>Dinamec Systems Fluid Clean</strong> for most of their facilities.<br /><br /></p>
	      </div>
	      
		</div>
	</div></div>
</div>
