<img src="/img/ribbon.png" style="position: absolute; right: 3%; top: 44px; z-index: 1000;" />

<div class="white-ground" style="padding-top: 40px;">
	<div id="tag2">
		<div class="blue-ground shadow">
			<div class="container" style="margin-bottom: 28px;">
				<h2 class="hidden-xs" style="letter-spacing: -1px; font-size: 3.4em; color: #ffffff;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
				<h2 class="visible-xs" style="letter-spacing: -1px; font-size: 1.9em; color: #ffffff;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
				<h1 class="hidden-xs" style="color: #ffffff; margin-top: 0; margin-bottom: 1.5em; font-size: 1.5em;">Environmentally Friendly Systems For Cleaning Metal Parts, <br />Foundry Applications, Heat Treatment and Sand Recovery</h1>
				<h1 class="visible-xs" style="color: #ffffff; margin-top: 0; margin-bottom: 1.2em; font-size: 1em;">Environmentally Friendly Systems For Cleaning Metal Parts, Foundry Applications, Heat Treatment and Sand Recovery</h1>
			</div>
		</div>
	</div>
		<div id="tag">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h4 class="hidden-xs">Re-defining &lsquo;clean&rsquo; for any industry</h4>
					<h4 class="visible-xs" style="font-size: 1.8em;">Re-defining &lsquo;clean&rsquo; for any industry</h4>
					<p style="padding-right: 2em;"><strong>DINAMEC</strong> and <strong>SCHWING</strong> offers the solution for all your metal stripping needs. Our solutions safely remove all organic substances from all kinds of metal parts no matter the industry.  From paint, powder coating, plastic, polyesters, and rubber, we can remove it. Our machines can be found in a wide variety of industries with over 2,000 installations worldwide. We ensure a clean and healthy stripping alternative to more traditional methods. Our technology offers many benefits from optimal results, no abrasive damage to tools or parts and a high operating capacity with low operating cost.</p><br />
					<!-- <div class="row">
						<div class="col-md-6 col-sm-6"> -->
							<img src="/img/warehouse-left.jpg" class="border shadow" style="margin-bottom: 14px;margin-right: 12px;" width="45%" />
						<!-- </div>
						<div class="col-md-6 col-sm-6"> -->	
							<img src="/img/warehouse-right.jpg" class="border shadow" style="margin-bottom: 14px;" width="50%" />
						<!-- </div>
					</div> -->
					<h4 style="font-size: 1.8em;">Decoring and Sand Reclamation, and Heat Treatment</h4>
					<p>Looking to remove the sand cores from your aluminum castings? This is often a tedious job due to the integrated design and hard organic binders. <strong>The Dinamec Systems’ Deco Fluid Bed Installation</strong> is the perfect solution for the gentle and smooth decoring of aluminum parts. Traditional methods take long periods of time, cause deformation or damage and have a high operating cost. Our systems offer quick cleaning time, no damage of parts and all at a lower operating cost. We are your decoring solution.</p>
				</div>
				<hr class="visible-sm visible-xs" />
				
 				<div class="col-md-4 hidden-sm hidden-xs" style="margin-top: 24px; margin-bottom: 32px; align: verticle;">
	 				<a href="http://www.schwing-technologies.com" target="blank"><img src="/img/schwing.png" style="border: 1px solid margin-left: 24px; #b2b5bc;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-right: 24px; margin-bottom: 32px;" class="pull-left shadow border" /></a>
					<strong>Exclusive North American distributor of Schwing Technologies</strong>
				</div>
				
 				<div class="col-sm-6 visible-sm visible-xs center" style="margin-top: 24px; margin-bottom: 32px; align: verticle;">
	 				<p><a href="http://www.schwing-technologies.com" target="blank"><img src="/img/schwing.png" style="border: 1px solid margin-left: 24px; #b2b5bc;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); margin-right: 24px; margin-bottom: 6px;" /></a><br />
					<strong>Exclusive North American distributor of Schwing Technologies</strong></p>

					<img src="/img/FabTech-icon.jpg" style="margin-top: 42px;" />
						
				</div>
				<div class="col-md-4 col-sm-6 center shadow ctaction">
					<h3 style="color: #ffffcb; font-size: 1.6em;">Put it to the test!</h3>
					<p style="padding: 0 18cd px;">Let us prove our cleaning efficiency. Send parts for a trial cleaning at our testing facility in Acworth, Georgia.</p>
					<div id="primary"><a href="/cleaning" class="main-button"> Test Cleaning </a></div>
				</div>
				
				<div class="col-md-4 col-sm-6 center hidden-sm hidden-xs"  style="margin-top: 42px;">
					<img src="/img/FabTech-icon.jpg" />
				</div>

			</div>
			<br class="visible-xs" />
			<hr class="hidden-xs" />
			<div class="row hidden-xs">
				<div class="col-md-7">
					<div id="videos" >
						<div class="btn-group" data-toggle="buttons">
						    <a href="#" id="https://www.youtube.com/embed/kl7ptx7DUZg" class="video-switcher btn btn-primary btn-xs" type="radio" name="options" id="option1" autocomplete="off">Out with the Old</a> 
						    <a href="#" id="https://www.youtube.com/embed/OJKueAlYgEM" class="video-switcher btn btn-primary btn-xs" type="radio" name="options" id="option2" autocomplete="off">A Better Way</a>
						    <a href="#" id="https://www.youtube.com/embed/zTe6671VzxQ" class="video-switcher btn btn-primary btn-xs" type="radio" name="options" id="option3" autocomplete="off">How It Works</a>
							  <a href="#" id="https://www.youtube.com/embed/GVEJe1cLwzc" class="video-switcher btn btn-primary btn-xs" type="radio" name="options" id="option4" autocomplete="off">Benefits</a>
							  <a href="#" id="https://www.youtube.com/embed/kKxFC12ff-8" class="video-switcher btn btn-primary btn-xs" type="radio" name="options" id="option5" autocomplete="off">InnovaClean</a>
							  <a href="#" id="https://www.youtube.com/embed/aU5MBmoU-WE" class="video-switcher btn btn-primary btn-xs" type="radio" name="options" id="option6" autocomplete="off">VacuClean</a>
						</div>
						<div id="video-box" style="display: inline-block; margin-top: 1em; margin-bottom: 3em;">
							<iframe id="video" width="480" height="360" class="border shadow" src="http://www.youtube.com/embed/ggX1huDrXm0" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>