
<div id="top">  </div>
	
	<!-- <div id="mySidenav" class="sidenav">
	  <a href="#firstModal" id="covid" data-toggle="modal">Covid-19 Notice</a>
	  <a href="#secondModal" id="letter" data-toggle="modal">Operational Update</a>
	</div> -->

	<div class="row">	
		
		<div class="modal hid fade" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="secondModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="color: white; background-color: #2196F3;">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h2 class="modal-title" style="color: white;" id="infoModalLabel">Social Update</h2>
		      </div>
		      <div class="modal-body">
					
					<p>Dear Valued Customers,</p>

					<p>As we hope that you are staying safe and healthy during this time of the Covid-19 pandemic, we want to let you know we will continue to be here to support you and your businesses.  Though our business practices may be operating a little differently than normal, we feel blessed that through technology and our amazing staff we can continue to help you thrive.  Our service staff will continue to be available to answer any operational questions and make sure that spare parts are still getting to your shops as needed.  Our sales staff is also still available to answer any questions and assist you in improving your cleaning process for your equipment and tooling.  We are striving to make sure that during this difficult period we continue to move forward together.  Any questions, or quotes needed, please do not hesitate to reach out to us.  Now more than ever it is important that we help you and your companies grow efficiently and safely.</p>

					<p>We hope that you continue to stay safe and healthy!</p>

					<p>Sincerely,</p>

					<p>Dinamec Systems</p>

					</div>
	
			
					<div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			      </div>
			
 
				  </div>
				</div>
			</div>
		</div>
		<div class="modal hid fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="color: white; background-color: #f44336;">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h2 class="modal-title" style="color: white;" id="infoModalLabel">Covid-19 Notice</h2>
		      </div>
		      <div class="modal-body">
					
					<p>Dear Valued Employees and Customers,</p>

					<p>We understand that there are still many updates regarding the constantly changing situation surrounding the Covid-19 Virus.  In these times, it is our goal to continue to provide our employees and customers with our prayers and support.  We are continuing to operate as much as we can on a “business as usual” basis.  However, we understand that these are also times to be consistently cautious regarding protecting our employees’ health and safety.  Therefore, we have limited all travel to emergency only and will be reviewed on a case by case basis.  We are advising that our employees and customers continue to follow precautionary procedures such as social distancing, and consistently monitoring their health.  We advise that employees at higher risk, or high-risk family members to work at home as much as possible, and when feeling ill to please stay home and take care of your health.  To our valued customers, we are limiting our in-office meetings to essential personal only and utilizing technology as much as possible to continue our relationships with limited disruption.</p>

					<p>Dinamec Systems truly values each of our employees and customers and we pray that each one of you stay safe and healthy.  To those directly affected by this virus, our thoughts are with you.</p>

					<p>As we move forward during these times, we are still here to help with your business needs and to answer any of the questions you may have.</p>

					<p>Please continue to stay safe and healthy.</p>

					<p>Sincerely,</p>

					<p>Dinamec Systems</p>

					</div>
	
			
					<div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			      </div>
			
 
				  </div>
				</div>
			</div>
		</div>
		
		
	</div>


		<!-- <a href="#infoModal" role="button" class="btn btn-sm" style="position: absolute; right: 40%; top: 52px; z-index: 900; color: white; background-color: #ea0422;" data-toggle="modal">Covid-19 Notice &nbsp;
		
		<i class="icon-chevron-down icon-white"></i>
	</a> -->

<!-- <img src="/img/ribbon.png" style="position: absolute; right: 3%; top: 44px; z-index: 1000;" class="hidden-xs" /> -->

<div class="white-ground" style="padding-top: 20px;">
	<!-- <div id="tag2">
		<div class="blue-ground shadow">
			<div class="container" style="margin-bottom: 28px;">
				<h2 class="hidden-xs" style="letter-spacing: -1px; font-size: 3.4em; color: #ffffff;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
				<h2 class="visible-xs" style="letter-spacing: -1px; font-size: 1.9em; color: #ffffff;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
				<h1 class="hidden-xs" style="color: #ffffff; margin-top: 0; margin-bottom: 1.5em; font-size: 1.5em;">Environmentally Friendly Systems For Cleaning Metal Parts, <br />Foundry Applications, Heat Treatment and Sand Recovery</h1>
				<h1 class="visible-xs" style="color: #ffffff; margin-top: 0; margin-bottom: 1.2em; font-size: 1em;">Environmentally Friendly Systems For Cleaning Metal Parts, Foundry Applications, Heat Treatment and Sand Recovery</h1>
			</div>
		</div>
	</div> -->
	<div id="tag2">
		<div class="container" style="margin-bottom: 14px;">
			<div class="row">
				<div class="col-md-10 hidden-lg hidden-md">	
					<div id="mySidenav2" class="sidenav">
					  <a href="#firstModal" id="covid" data-toggle="modal">Covid-19 Notice</a>
					  <a href="#secondModal" id="letter" data-toggle="modal">Operational Update</a>
					</div>
				</div>
				<div class="col-md-3 hidden-xs">
					<img src="/img/dinamec-logo-new.png" width="250px">
				</div>
				<div class="col-md-3 hidden-lg hidden-md hidden-sm">
					<img src="/img/dinamec-logo-new.png" width="250px" style="margin-top: 20px;">
				</div>
				<div class="col-md-7 hidden-sm hidden-xs">	
					<div id="mySidenav" class="sidenav">
					  <a href="#firstModal" id="covid" data-toggle="modal">Covid-19 Notice</a>
					  <a href="#secondModal" id="letter" data-toggle="modal">Operational Update</a>
					</div>
				</div>
				
				<div class="col-md-2 hidden-sm hidden-xs">
					<img src="/img/ribbon.png" style="position: absolute; right: 4%; top: -24px;" class="hidden-xs" />
					</div>
				</div>
			</div>
 		</div>
		<div class="blue-ground shadow">
			<div class="container" style="margin-bottom: 1px;">
				<h1 class="hidden-xs" style="color: #ffffff; margin-top: 9px; margin-bottom: 9px; font-size: 1.2em; text-align: center;">Environmentally Friendly Systems For Cleaning Metal Parts, Foundry Applications, Heat Treatment and Sand Recovery</h1>
				<h1 class="visible-xs" style="color: #ffffff; margin-top: 9px; margin-bottom: 9px; font-size: 0.9em; text-align: center;">Environmentally Friendly Systems For Cleaning Metal Parts, Foundry Applications, Heat Treatment and Sand Recovery</h1>
			</div>
		</div>
		<div class="shadow" style="background-color: #fefc78">
			<div class="container" style="margin-bottom: 14px;">
				<p class="hidden-xs" style="color: #000000; margin-top: 4px; margin-bottom: 4px; font-size: 1em; text-align: center;">New office hour starting September 8, 2020 &nbsp;&nbsp;&nbsp;&nbsp; 7:00 AM - 5:00 PM M-TH and 8:00 AM to 12:00 PM Friday</p>
				<p class="visible-xs" style="color: #000000; margin-top: 3px; margin-bottom: 3px; font-size: 0.85em; text-align: center;">New office hour starting September 8, 2020 <br /> 7:00 AM - 5:00 PM M-TH and 8:00 AM to 12:00 PM Friday</p>
			</div>
		</div>
	</div>
		<div id="tag">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h4 class="hidden-xs">Re-defining &lsquo;clean&rsquo; for any industry</h4>
					<h4 class="visible-xs" style="font-size: 1.8em;">Re-defining &lsquo;clean&rsquo; for any industry</h4>
					<p style="padding-right: 2em;"><strong>DINAMEC</strong> offers the solution for all your thermal cleaning needs. Our solutions safely remove all organic substances from all kinds of metal parts no matter the industry.  From paint, powder coating, plastic, polyesters, and rubber, we can remove it. Our machines can be found in a wide variety of industries with over 2,000 installations worldwide. We ensure a clean and healthy stripping alternative to more traditional methods. Our technology offers many benefits from optimal results, no abrasive damage to tools or parts and a high operating capacity with low operating cost.</p><br />
					<!-- <div class="row">
						<div class="col-md-6 col-sm-6"> -->
							<img src="/img/warehouse-left.jpg" class="border shadow" style="margin-bottom: 14px;margin-right: 12px;" width="43%" />
						<!-- </div>
						<div class="col-md-6 col-sm-6"> -->	
							<img src="/img/warehouse-right.jpg" class="border shadow" style="margin-bottom: 14px;" width="44.5%" />
						<!-- </div>
					</div> -->
					<h4 style="font-size: 1.8em;">Decoring and Sand Reclamation, and Heat Treatment</h4>
					<p>Looking to remove the sand cores from your aluminum castings? This is often a tedious job due to the integrated design and hard organic binders. <strong>The Dinamec Systems’ Deco Fluid Bed Installation</strong> is the perfect solution for the gentle and smooth decoring of aluminum parts. Traditional methods take long periods of time, cause deformation or damage and have a high operating cost. Our systems offer quick cleaning time, no damage of parts and all at a lower operating cost. We are your decoring solution.</p>
					
					<hr />
					
					<div class="hidden-xs" style="margin-top: 12px;">
						
						<!-- <video width="560" height="315" class="border shadow" controls>
						  <source src="https://fluidcleandinamecsystems.s3.us-east-2.amazonaws.com/Sect+4+How+It+Works.mp4" type="video/mp4">
						</video>

					</div> -->
					
					<!-- <div class="hidden-xs" style="margin-top: 12px;">
						<iframe width="560" height="315" class="border shadow"  src="https://www.youtube.com/embed/2ni3bRrsYcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div> -->
					
					<br />
					
					<!-- <div class="hidden-xs">
						<video width="480" height="360" class="border shadow" controls>
						  <source src="https://fluidcleandinamecsystems.s3.us-east-2.amazonaws.com/Dinamec+Systems+Fluid+Clean+-+Out+With+The+Old.mp4" type="video/mp4">
						</video>
						<video width="480" height="360" class="border shadow" controls>
						  <source src="https://fluidcleandinamecsystems.s3.us-east-2.amazonaws.com/Dinamec+Systems+Fluid+Clean+-+A+Better+Way.mp4" type="video/mp4">
						</video>
						<video width="480" height="360" class="border shadow" controls>
						  <source src="https://fluidcleandinamecsystems.s3.us-east-2.amazonaws.com/Dinamec+Systems+Fluid+Clean+-+Benefits.mp4" type="video/mp4">
						</video> -->
						

<div class="row">
	<div class="col-sm-3">
		<a class="v-link" data-toggle="modal" data-target="#exampleModal0" data-whatever="" data-backdrop="static" data-keyboard="false"><img src="/img/v-how-it-works.jpg" width="100%" class="border shadow" /></a>
		<p style="text-align: center;">How it works</p>
	</div>
	<div class="col-sm-3">
		<a class="v-link" type="button" class="" data-toggle="modal" data-target="#exampleModal1" data-whatever="" data-backdrop="static" data-keyboard="false"><img src="/img/v-out-with-old.jpg" width="100%" class="border shadow" /></a>
		<p style="text-align: center;">Out with the Old</p>
	</div>
	<div class="col-sm-3">
		<a class="v-link" type="button" class="" data-toggle="modal" data-target="#exampleModal2" data-whatever="" data-backdrop="static" data-keyboard="false"><img src="/img/v-better-way.jpg" width="100%" class="border shadow" /></a>
		<p style="text-align: center;">A Better Way</p>
	</div>
	<div class="col-sm-3">
		<a class="v-link" type="button" class="" data-toggle="modal" data-target="#exampleModal3" data-whatever="" data-backdrop="static" data-keyboard="false"><img src="/img/v-benefits.jpg" width="100%" class="border shadow" /></a>
		<p style="text-align: center;">Benefits</p>
	</div>
</div>
<div id="exampleModal0" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
	  <div class="modal-content">
		  <div class="modal-header" style="border: none;">
			  <button aria-hidden="true" class="close" data-dismiss="modal" type="button"><p style="line-height: 9px; margin-top: 4px;">x</p></button>
		  </div>
		  <div class="modal-body">
			  <video id="vid0" width="100%" height="100%" class="border shadow" controls>
				  <source src="https://fluidcleandinamecsystems.s3.us-east-2.amazonaws.com/Sect+4+How+It+Works.mp4" type="video/mp4" id="vid0">
			  </video>
		  </div>
	  </div>
	</div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	  <div class="modal-header" style="border: none;">
		  <button aria-hidden="true" class="close" data-dismiss="modal" type="button"><p style="line-height: 9px; margin-top: 4px;">x</p></button>
	  </div>
      <div class="modal-body">
		<video id="vid1" width="100%" height="100%" class="border shadow" controls>
		  <source src="https://fluidcleandinamecsystems.s3.us-east-2.amazonaws.com/Dinamec+Systems+Fluid+Clean+-+Out+With+The+Old.mp4" type="video/mp4">
		</video>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	  <div class="modal-header" style="border: none;">
		  <button aria-hidden="true" class="close" data-dismiss="modal" type="button"><p style="line-height: 9px; margin-top: 4px;">x</p></button>
	  </div>
      <div class="modal-body">
		<video id="vid2" width="100%" height="100%" class="border shadow" controls>
		  <source src="https://fluidcleandinamecsystems.s3.us-east-2.amazonaws.com/Dinamec+Systems+Fluid+Clean+-+A+Better+Way.mp4" type="video/mp4">
		</video>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	  <div class="modal-header" style="border: none;">
		  <button aria-hidden="true" class="close" data-dismiss="modal" type="button"><p style="line-height: 9px; margin-top: 4px;">x</p></button>
	  </div>
      <div class="modal-body">
		<video id="vid3" width="100%" height="100%" class="border shadow" controls>
		  <source src="https://fluidcleandinamecsystems.s3.us-east-2.amazonaws.com/Dinamec+Systems+Fluid+Clean+-+Benefits.mp4" type="video/mp4">
		</video>
      </div>
    </div>
  </div>
</div>




							
							
						<!-- <div id="videos">
							<div class="btn-group" data-toggle="buttons">
							    <a href="#" id="https://www.youtube.com/embed/kl7ptx7DUZg" class="video-switcher btn btn-primary btn-xs" style="margin-right: 4px;" type="radio" name="options" id="option1" autocomplete="off">Out with the Old</a>
							    <a href="#" id="https://www.youtube.com/embed/OJKueAlYgEM" class="video-switcher btn btn-primary btn-xs" style="margin-right: 4px;" type="radio" name="options" id="option2" autocomplete="off">A Better Way</a>

								  <a href="#" id="https://www.youtube.com/embed/GVEJe1cLwzc" class="video-switcher btn btn-primary btn-xs" style="margin-right: 3px;" type="radio" name="options" id="option3" autocomplete="off">Benefits</a>
								  <a href="#" id="https://www.youtube.com/embed/kKxFC12ff-8" class="video-switcher btn btn-primary btn-xs" style="margin-right: 4px;" type="radio" name="options" id="option4" autocomplete="off">InnovaClean</a>
								  <a href="#" id="https://www.youtube.com/embed/aU5MBmoU-WE" class="video-switcher btn btn-primary btn-xs" type="radio" name="options" id="option5" autocomplete="off">VacuClean</a>
							</div>
							<div id="video-box" style="display: inline-block; margin-top: 1em; margin-bottom: 3em;">
								<iframe id="video" width="480" height="360" class="border shadow" src="https://www.youtube.com/embed/ggX1huDrXm0" frameborder="0" allowfullscreen></iframe>
							</div>
						</div> -->
					</div>
					
					
					
				</div>
				<!-- <hr class="visible-sm visible-xs" />

 				<div class="col-md-4 hidden-sm hidden-xs" style="margin-top: 24px; margin-bottom: 1px; align: verticle;">
	 				<a href="http://www.schwing-technologies.com" target="blank"><img src="/img/schwing.png" style="border: 1px solid margin-left: 12px; #b2b5bc;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-right: 24px; margin-bottom: 50px;" class="pull-left shadow border" /></a>
					<a href="http://www.schwing-technologies.com" target="blank" style="color: black;"><strong>North American distributor of Schwing Technologies</strong></a><br /><span style="font-size: 11px;">Click here  for direct link to the Schwing website</span>
				</div> -->



 				<!-- <div class="col-sm-6 visible-sm visible-xs center" style="margin-top: 14px; margin-bottom: 32px; align: verticle;">
	 				<p><a href="http://www.schwing-technologies.com" target="blank"><img src="/img/schwing.png" style="border: 1px solid margin-left: 24px; #b2b5bc;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); margin-right: 24px; margin-bottom: 6px;" /></a><br />
					<strong>Exclusive North American distributor of Schwing Technologies</strong></p>
				</div> -->
				
 					
				
				<div class="col-md-4 col-sm-hidden center shadow ctaction" style="margin-top: 1em;">
					<h3 style="color: #ffffcb; font-size: 1.6em;">Put it to the test!</h3>
					<p style="padding: 0 18cd px;">Let us prove our cleaning efficiency. Send parts for a <br class="visible-sm" />trial cleaning at our testing facility in Acworth, Georgia.</p>
					<div id="primary"><a href="/cleaning" class="main-button"> Test Cleaning </a></div>
				</div>
				
			<!-- <div class="col-sm-12 hidden-md hidden-lg" style="margin-top: 3em; margin-bottom: 3em;">
 				<a href="http://www.schwing-technologies.com" target="blank"><img src="/img/schwing.png" style="border: 1px solid margin-left: 24px; #b2b5bc;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-right: 24px; margin-bottom: 12px;" class="pull-left shadow border" /></a>
				<a href="http://www.schwing-technologies.com" target="blank" style="color: black;"><strong>North American distributor of Schwing Technologies</strong></a><br /><span style="font-size: 11px;">Click here  for direct link to the Schwing website</span>
			</div> -->
				<br />
				<div class="col-md-4 center col-sm-hidden" style="margin-top: 2.5em;">
					
					<p>We are proud members of <strong>CCAI GA Chapter.</strong>  To find out the advantages of membership click the logo, or contact <a href="mailto:Samantha.Paulson@dinamecsystems.com">Samantha Paulson.</a></p>
					
					<a href="http://www.ccaiweb.com" target="blank"><img src="/img/ccai-banner.png" class="shadow" style="margin-bottom: 14px;" width="100%" /></a>
					
				</div>
					
					<div class="col-md-4 center col-sm-hidden" style="margin-top: 1.5em;">
					
					</div>
					
			</div>
			<br /><br />
			
		</div>
		
	</div>
</div>

<script type="text/javascript">
	
	$('#exampleModal0').on('shown.bs.modal', function (event) {
		$('#vid0')[0].play();
	});
	$('#exampleModal0').on('hidden.bs.modal', function (event) {
		$('#vid0')[0].pause();
	});
	
	
	$('#exampleModal1').on('shown.bs.modal', function (event) {
		$('#vid1')[0].play();
	});
	$('#exampleModal1').on('hidden.bs.modal', function (event) {
		$('#vid1')[0].pause();
	});
	
	$('#exampleModal2').on('shown.bs.modal', function (event) {
		$('#vid2')[0].play();
	});
	$('#exampleModal2').on('hidden.bs.modal', function (event) {
		$('#vid2')[0].pause();
	});
	
	
	$('#exampleModal3').on('shown.bs.modal', function (event) {
		$('#vid3')[0].play();
	});
	$('#exampleModal3').on('hidden.bs.modal', function (event) {
		$('#vid3')[0].pause();
	});
	  
</script>


<!-- <script type="text/javascript">
    $(window).on('load',function(){
        $('#firstModal').modal('show');
    });
</script> -->
	 
	 
<style>
	 /* Style the links inside the sidenav */
	#mySidenav {
		position: absolute; /* Position them relative to the browser window */
		
		top: -12px;
		left: 36%;
	} 
	#mySidenav2 {
		right: 12px;
		z-index: 1000;
		top: -14px;
		position: absolute;
	} 
	#mySidenav a {
	   padding: 10px 15px; /* 15px padding */
	   text-decoration: none; /* Remove underline */
	   font-size: 12px; /* Increase font size */
		font-weight: 600;
	   color: white; /* White text color */
	   border-radius: 0 0 5px 5px; /* Rounded corners on the top right and bottom right side */
	 }
 	#mySidenav2 a {
		z-index: 1000;
 	   padding: 10px 15px; /* 15px padding */
 	   text-decoration: none; /* Remove underline */
 	   font-size: 12px; /* Increase font size */
 		font-weight: 600;
 	   color: white; /* White text color */
 	   border-radius: 0 0 5px 5px; /* Rounded corners on the top right and bottom right side */
 	 }

	 #mySidenav a:hover {
	   padding: 11px 15px;
	 }

	 /* The about link: 20px from the top with a green background */
	 #covid {
	   background-color: #f44336;
	 }

	 #letter {
	   background-color: #2196F3; /* Blue */
	 }
</style> 