<div class="white-ground" style="padding-top: 40px;">
	<div class="blue-ground">
		<div class="container" style="margin-bottom: 28px;">
			<h2 style="letter-spacing: -1px; font-size: 3.4em; color: #ffffff;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>

			<h1 style="color: #ffffff; margin-top: 0; margin-bottom: 1em; font-size: 2em;">Environmentally friendly solutions for cleaning metal parts</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h4>Re-defining &lsquo;clean&rsquo; for any industry</h4>
				<p><strong>Dinamec Systems Fluid Clean</strong> fluidized sand bed thoroughly removes organic substances such as paint, powder coating, plastic, polyesters, and rubber from most all metal alloys. Our machines can be found in a wide variety of industries with over 900 installations world-wide. We ensure a clean and healthy stripping alternative to more traditional methods. Our fluidized sand bed offers many benefits including fast cleaning time, optimal results, no abrasive damage to tools or parts, and a high operating capacity with low operating costs.</p><br />
				<div class="row">
					<div class="col-md-5 col-sm-6 col-sm-6 center">
						<img src="/img/ks_machine1.jpg" class="border shadow" style="margin-bottom: 14px;" />
					</div>
					<div class="col-md-5 col-sm-6 col-sm-6 center">	
						<img src="/img/ks_machine2.jpg" class="border shadow" style="margin-bottom: 14px;" />
					</div>
				</div>
			</div>
			<div class="col-md-4 center well" style="margin: 28px 0; padding-top: 3px;">
				<h3 style="color: #195fae; font-size: 2em;">Put it to the test!</h3>
				<a href="cleaning.php" class="floatright" border="0" ><p id="clean" border="0"> </p></a>
				<p style="padding: 0 18cd px;">Let us prove our cleaning efficiency. Send parts for a trial cleaning at our testing facility in Acworth, Georgia.</p>
				<button class="btn btn-lg btn-success" style="margin-top: 14px; margin-bottom: 14px;">Free Test Cleaning</button>
			</div>
		</div>
		<br /><br />
		<div class="row center hidden-xs">
			<div class="col-md-6 center hidden-xs" style="margin: 0 0 24px 0">
				<iframe id="video" width="480" height="360" src="http://www.youtube.com/embed/ggX1huDrXm0" frameborder="0" allowfullscreen></iframe>
			</div>
		
			<div class="col-md-6 center hidden-xs" style="margin: 0 0 24px 0">
				<iframe id="video" width="480" height="360" src="http://www.youtube.com/embed/vQMSCxWODss" frameborder="0" allowfullscreen></iframe>
			</div>
		
			<div class="col-md-6 center hidden-xs" style="margin: 0 0 24px 0">
				<iframe id="video" width="480" height="360" src="http://www.youtube.com/embed/a9jRsl2lJH0" frameborder="0" allowfullscreen></iframe>
			</div>
		
			<div class="col-md-6 center hidden-xs" style="margin: 0 0 24px 0">
				<iframe id="video" width="480" height="360" src="http://www.youtube.com/embed/ZQmCLSo69h4" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div> <!-- /container -->
</div>