<div class="white-ground" style="padding-top: 40px;">
	<div id="tag2">
		<div class="blue-ground shadow">
			<div class="container" style="margin-bottom: 28px;">
				<h2 class="hidden-xs" style="letter-spacing: -1px; font-size: 3.4em; color: #ffffff;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
				<h2 class="visible-xs" style="letter-spacing: -1px; font-size: 1.9em; color: #ffffff;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
				<h1 class="hidden-xs" style="color: #ffffff; margin-top: 0; margin-bottom: 1em; font-size: 2em;">Environmentally friendly solutions for cleaning metal parts</h1>
				<h1 class="visible-xs" style="color: #ffffff; margin-top: 0; margin-bottom: 1em; font-size: 1.1em;">Environmentally friendly solutions for cleaning metal parts</h1>
			</div>
		</div>
	</div>
		<div id="tag">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h4 class="hidden-xs">Re-defining &lsquo;clean&rsquo; for any industry</h4>
					<h4 class="visible-xs" style="font-size: 1.8em;">Re-defining &lsquo;clean&rsquo; for any industry</h4>
					<p style="padding-right: 2em;"><strong>Dinamec Systems Fluid Clean</strong> fluidized sand bed thoroughly removes organic substances such as paint, powder coating, plastic, polyesters, and rubber from most all metal alloys. Our machines can be found in a wide variety of industries with over 900 installations world-wide. We ensure a clean and healthy stripping alternative to more traditional methods. Our fluidized sand bed offers many benefits including fast cleaning time, optimal results, no abrasive damage to tools or parts, and a high operating capacity with low operating costs.</p><br />
					<div class="row">
						<div class="col-md-5 col-sm-6 col-sm-6 center">
							<img src="/img/ks_machine1.jpg" class="border shadow" style="margin-bottom: 14px;" />
						</div>
						<div class="col-md-5 col-sm-6 col-sm-6 center">	
							<img src="/img/ks_machine2.jpg" class="border shadow" style="margin-bottom: 14px;" />
						</div>
					</div>
				</div>
				<hr class="visible-sm visible-xs" />
				
 				<div class="col-md-4 hidden-sm hidden-xs" style="margin-top: 24px; margin-bottom: 32px; align: verticle;">
	 				<a href="http://www.schwing-technologies.com" target="blank"><img src="/img/schwing.png" style="border: 1px solid margin-left: 24px; #b2b5bc;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); margin-right: 24px; margin-bottom: 32px;" class="pull-left" /></a>
					<strong>Exclusive North American distributor of Schwing Technologies</strong>
				</div>
				
 				<div class="col-sm-6 visible-sm visible-xs center" style="margin-top: 24px; margin-bottom: 32px; align: verticle;">
	 				<p><a href="http://www.schwing-technologies.com" target="blank"><img src="/img/schwing.png" style="border: 1px solid margin-left: 24px; #b2b5bc;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); margin-right: 24px; margin-bottom: 6px;" /></a><br />
					<strong>Exclusive North American distributor of Schwing Technologies</strong></p>
				</div>
				
				<div class="col-md-4 col-sm-6 center shadow ctaction">
					<h3 style="color: #ffffcb; font-size: 1.6em;">Put it to the test!</h3>
					<p style="padding: 0 18cd px;">Let us prove our cleaning efficiency. Send parts for a trial cleaning at our testing facility in Acworth, Georgia.</p>
					<div id="primary"><a href="/cleaning" class="main-button"> Free Test Cleaning </a></div>
				</div>

			</div>
			<br class="visible-xs" />
			<hr class="hidden-xs" />
			<div class="row hidden-xs">
				<div class="col-md-6">
					<div id="videos" >
						<div class="btn-group" data-toggle="buttons">
						    <a href="#" id="http://www.youtube.com/embed/ggX1huDrXm0" class="video-switcher btn btn-info" type="radio" name="options" id="option1" autocomplete="off">Out with the Old</a> 
						    <a href="#" id="http://www.youtube.com/embed/vQMSCxWODss" class="video-switcher btn btn-info" type="radio" name="options" id="option2" autocomplete="off">A Better Way</a>
						    <a href="#" id="http://www.youtube.com/embed/a9jRsl2lJH0" class="video-switcher btn btn-info" type="radio" name="options" id="option3" autocomplete="off">How It Works</a>
							  <a href="#" id="http://www.youtube.com/embed/ZQmCLSo69h4" class="video-switcher btn btn-info" type="radio" name="options" id="option4" autocomplete="off">Benefits</a>
						</div>
						<div id="video-box" style="display: inline-block; margin-top: 1em; margin-bottom: 3em;">
							<iframe id="video" width="480" height="360" class="border shadow" src="http://www.youtube.com/embed/ggX1huDrXm0" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>