<div class="white-ground">
	<div class="container master-padding">

		<div>
		  <h1>News</h1>
		  <p>This is News.</p>
		</div>

	</div> <!-- /container -->
</div>
<script type="text/javascript">
	$('#newstab a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
</script>