<div class="white-ground">
	<div class="container">
		<img src="img/fluid-clean-logo.png" class="pull-right border shadow hidden-xs" style="padding-top: 8px; margin: 24px 12px 0 0;" />
		<h2 style="font-size: 2.3em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
		<img src="img/fluid-clean-logo.png" class="border shadow visible-xs" style="padding-top: 8px; margin: 24px 12px 0 0;" />
	</div>
	<div class="container master-padding">
		<h2>Press Release</h2>
		<h3>Strategic alliance for plastic removal and paint stripping</h3>
		<p>Dinamec Systems, LLC of Acworth Georgia, the leading North American manufacturer of gas-heated fluidized sand beds for removing organic substances such as paint, powder coating, and rubber from most all metal alloys, became the exclusive distributor for North America of SCHWING Fluid Technik GmbH of Neukirchen-Vluyn in Germany.</p>
		<p>With over 40 years experience in the international systems business SCHWING is a world-wide known, leading design engineer, manufacturer and operator of electric heated fluidized bed systems as well as vacuum furnaces for premium thermal cleaning processes in the plastics and fiber industry.</p>
		<p>With this agreement in place, Dinamec Systems now provides the North American industry with all advanced thermal cleaning technologies for the removal of polymers, paint and organic contaminations from metal tools and machine parts of any type and size. Whether using pyrolysis, thermal decomposition under vacuum conditions or a thermal conversion process in a fluidized bed, Dinamec Systems offers the right technology for a wide range of industrial cleaning requirements.</p>
		<p>For more information or any service needs please call <strong>1-888-DINAMEC</strong>, send an e-mail to info@dinamecsystems.com or visit www.dinamecsystems.com.</p>
		<a href="http://www.schwing-technologies.com" target="blank"><img src="img/schwing.png" style="border: 1px solid #b2b5bc;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);" /></a>
		<br /><br />
		<hr />
		<h2>Press Release</h2>
		<p>We are excited to announce that on August 5, 2013, DINAMEC SYSTEMS acquired the fluidized bed tool cleaning division of KEPPEL SEGHERS Inc. This included all related assets and the fluidized bed technology, which was formally developed by DINAMEC NV and SEGHERS Better Technology for Services &amp; Machinery Zele NV in Belgium.</p>
		<p>The complete staff of the Keppel Seghers Fluidized Bed Division, remains intact and will continue to serve the needs of our present and future customers, creating a seamless transition.</p>
		<p>DINAMEC SYSTEMS is held by the same individuals who own the company, which has been manufacturing our fluid clean parts since 1995 and building our complete fluidized beds and all the related components since 2005.</p> 
		<p>This alliance will allow us to build on the acquired 25 plus years of “Seghers-Dinamec” experience in fluidized bed parts and tool refurbishing equipment, designing and manufacturing new “Fluid Clean” equipment, while improving our services to the existing former customers of KEPPEL SEGHERS Inc.</p>
		<p>The entire staff of the fluid clean division looks forward to continue working with you, selling new systems, and providing spare parts and maintenance services for your existing <strong>Fluid Clean, Mini Clean, Aluminum Casting Decoring/Heat Treatment Systems</strong> or <strong>Rubber Denuding Systems</strong>.</strong></p>
		<p>For more information or any service you might require please contact us at <strong>1-888-DINAMEC</strong>, or at www.dinamecsystems.com.</p>
		<p>Sincerely,</p>
		<p>Dave Wilkins<br /><small><em>Managing Director</em></small></p>
		<p>Luc Ceyssens<br /><small><em>Managing Director</em></small></p>			
		<p>Wayne McFarland<br /><small><em>General Manager</em></small></p>		  
	</div> <!-- /container -->
</div>
<script type="text/javascript">
	$('#newstab a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
</script>