<div class="white-ground">
	<div class="container">
		<h2 style="font-size: 2.5em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
	</div>
	<div class="container master-padding">
		<h1 style="margin-bottom: .7em;">The Process</h1>
		<img src="img/fluid-clean-logo.png" class="pull-left border shadow" style="padding-top: 8px; margin: 0 24px 0 0;" />
		
		<p>Today almost every industry is involved with organic substances such as paint, powder coating, plastic or rubber at some stage of its production process.</p>
		<p>Removing plastic or paint coatings from metal parts, finished products or production components made of metal is a wide spread problem.</p>
		<p>Modern coatings and plastic bond very strongly and traditional cleaning and stripping methods are becoming outdated. They demand costly labor and energy as well as possible health hazards for the operators. These traditional methods often damage or deform parts and can result in water and air pollution.</p>
		<p><b>Dinamec Systems</b> is a world leader in fluidized bed cleaning with over 900 installations worldwide supported by first class after sales parts and service. The <b>Dinamec Systems Fluid Clean</b> is a unique and total cleaning solution for a wide variety of organic substances in all industries, providing a combination of thorough cleaning, short cleaning cycles and ease of operation.
		  There is more to the <b>Dinamec Systems Fluid Clean.</b> As well as cleaning your metal parts thoroughly, our installations also ensure a clean and healthy solution for both the environment and your operators.</p>
		  <h2>Clean takes on a much broader meaning <br />in a Dinamec Systems Fluid Clean installation.</h2>
		  <br />
		  <img src="img/ks_graph.jpg" border="0" />
		  <br /><br />
		  <h6>Applications</h6>
		  <p>The <b>Dinamec Systems Fluid Clean</b> installation is available in 3 different designs (RAN, ICV, and TNV) to fully comply with your particular stripping needs. The Dinamec Systems fluidized bed forms the basis of these three designs which are available in several standard sizes. Our team of specialists will carefully select the best design for your specific business and local regulations.</p>
	  </div>
	</div> <!-- /container -->
</div>
