<div class="white-ground">
	<div id="tag">
		<div class="top-bar">
			<div class="container">
				<h2 style="font-size: 2.5em; margin-top: 4px; letter-spacing: -1px; color: white;">Dinamec<span style="font-weight: 300; color: #b5b5b5;">Systems</span></h2>
			</div>
		</div>
	<div class="container master-padding">
		<h1>The Process</h1>
		<div class="row">
			<div class="col-md-6">
				<img src="img/fluid-clean-logo.png" class="pull-left border shadow hidden-xs" style="padding-top: 8px; margin: 6px 24px 6px 0;" />
				<img src="img/fluid-clean-logo.png" class="border shadow visible-xs" style="padding-top: 8px; margin: 0 24px 12px 0;" />
				<p>Today almost every industry is involved with organic substances such as paint, powder coating, plastic or rubber at some stage of its production process.</p>
				<p>Removing plastic or paint coatings from metal parts, finished products or production components made of metal is a wide spread problem.</p>
				<p>Modern coatings and plastic bond very strongly and traditional cleaning and stripping methods are becoming outdated. They demand costly labor and energy as well as possible health hazards for the operators. These traditional methods often damage or deform parts and can result in water and air pollution.</p>
			</div>
			<div class="col-md-6">
				<p><b>Dinamec Systems</b> is a world leader in fluidized bed cleaning with over 2,000 installations worldwide supported by first class after sales parts and service. The <b>Dinamec Systems Fluid Clean</b> is a unique and total cleaning solution for a wide variety of organic substances in all industries, providing a combination of thorough cleaning, short cleaning cycles and ease of operation. There is more to the <b>Dinamec Systems Fluid Clean.</b> As well as cleaning your metal parts thoroughly, our installations also ensure a clean and healthy solution for both the environment and your operators.</p>
			</div>
			<div class="col-md-12">
				<h2>Clean takes on a much broader meaning in a Dinamec Systems Fluid Clean installation.</h2>
				<div class="row">
				<img src="img/ks-graph.jpg" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
			</div><br />
				<h6>Applications</h6>
				<p>The <b>Dinamec Systems Fluid Clean</b> installation is available in 3 different designs (RAN, ICV, and TNV) to fully comply with your particular stripping needs. The Dinamec Systems fluidized bed forms the basis of these three designs which are available in several standard sizes. Our team of specialists will carefully select the best design for your specific business and local regulations.</p>
			</div>
		</div>
	  </div>
	</div></div>
</div>
