<div class="white-ground">
		<div class="container">
			<h2 style="font-size: 2.5em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
		</div>
	<div class="container master-padding">
		<h1>Product Line</h1>
		<div role="tabpanel">
  			<ul class="nav nav-tabs" role="tablist">
  				<li role="presentation" class="active"><a href="#sandbed" aria-controls="sandbed" role="tab" data-toggle="tab">Fluidized Sand Bed</a></li>
  				<li role="presentation"><a href="#custom" aria-controls="custom" role="tab" data-toggle="tab">Product Customization</a></li>
  				<li role="presentation"><a href="#used" aria-controls="used" role="tab" data-toggle="tab">Used Machine</a></li>
  			</ul>
  			<div class="tab-content">
  				<div role="tabpanel" class="tab-pane fade in active" id="sandbed">
  					<div class="row container">
  						<div class="col-md-10">
							<h2>Fluidized Sand Bed</h2>
							<h3>Choosing the Right Dinamec Systems Fluidized Bed for Your Application</h3>
							<p>A range of standard <strong>Dinamec Systems Fluid Clean</strong> machine configurations is available to comply with your particular cleaning needs.  Our experienced engineering department, combined with a flexible production department allows us to offer <strong>custom-made</strong> installations for special projects.</p>
							<br />
							<p class="caption pull-left" style="margin-right:48px;"><img src="img/topview2.jpg" class="border shadow" /><br />D-Type RAN</p>
							<p class="caption"><img src="img/btype.jpg" class="border shadow" /><br />B-Type ICV</p>
							<br /> <br />
							<p>  
								<table id="beds">
			  		          	<tr id="section1">
			  		          		<th colspan="4">Fluidized Bed Dimensions<br />
											<span style="font-weight: 400;">Inside of Bed</span><br />

			  		          		Standard Machines<br />
			  		          		<span style="font-weight: 400;">All Models Are Available in RAN (flat hood) and ICV (clam shell hood)</span>
			  							</th>
			  		          	</tr>
			  		          	<tr class="type">
			  		          		<th>
			  		          		</th>	
			  		          		<th>
			  							Loading Basket<br />
			  							<span style="font-weight: 400;">(inner dimensions)</span>
			  						</th>	
			  		          		<th>
			  							Maximum Loading <br /><span style="font-weight: 400;">(Steel)*</span>
			  						</th>	
			  		          		<th>
			  							Organic Load**
			  						</th>	
			  		          	</tr>
				  					<tr class="type2">
			  		          		<th>Type</th>
			  		          		<th>LxW/DxH (inch)</th>
			  		          		<th>(lbs)</th>
			  		          		<th>(lbs/batch)</th>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>D-080606</td>	
			  		          		<td class="center">23x17x22</td>	
			  		          		<td class="center">128</td>	
			  		          		<td class="center">4 &ndash; 11</td>	
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>D-160606</td>	
			  		          		<td class="center">54x17x22</td>
			  		          		<td class="center">272</td>
			  		          		<td class="center">7 &ndash; 21</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>B-181008</td>	
			  		          		<td class="center">62x33x30</td>
			  		          		<td class="center">708</td>
			  		          		<td class="center">16 &ndash; 45</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>B-240808</td>	
			  		          		<td class="center">86x25x30</td>
			  		          		<td class="center">751</td>
			  		          		<td class="center">17 &ndash; 48</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>B-301011</td>	
			  		          		<td class="center">110x33x41</td>
			  		          		<td class="center">2,071</td>
			  		          		<td class="center">30 &ndash; 86</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>B-201611</td>	
			  		          		<td class="center">70x56x41</td>
			  		          		<td class="center">2,258</td>
			  		          		<td class="center">33 &ndash; 92</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  						<td>B-401011</td>	
			  						<td class="center">153x33x41</td>
			  						<td class="center">2,771</td>
			  						<td class="center">41 &ndash; 115</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  						<td>B-341414</td>	
			  						<td class="center">125x49x52</td>
			  						<td class="center">4,530</td>
			  						<td class="center">54 &ndash; 152</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  						<td>B-321616</td>	
			  						<td class="center">117x56x61</td>
			  						<td class="center">5,748</td>
			  						<td class="center">62 &ndash; 174</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  						<td>B-541613</td>	
			  						<td class="center">204x56x49</td>
			  						<td class="center">7,985</td>
			  						<td class="center">95 &ndash; 267</td>
			  		          	</tr>
			  		          	<tr>
			  						<td colspan="4"><small>*Amount of steel not including the basket that can be loaded into the machine (do not deduct basket)</small><br />
			  							<small>** Depending on capacity of thermal afterburner and type of organic/plastic contamination.</small></td>	
			  		          	</tr>
			  		          </table>
							 </p> <br /> 
							 <p>All dimensions are in inches. Please note that the capacity of our machines are not exclusively determined by the bed volume. Also to be considered are the type and amount of organics removed and the amount of metal to be processed.</p>
							 <h3>PLC based control system with 10" color touch screen Operator Interface</h3>
							 <p class="pull-right" style="margin: 24px;"><img src="img/controls.jpg" class="border shadow" /></p>
							 <p>Features Include:</p>
							 <ul>
	  							<li>Main operator screen - Used to set cycle time, enter temperature set points, Graphically show machine operation, show text based messaging for machine operation and alarm conditions, access other system screens.</li>
	  							<li>Alarm condition history with date and time stamp.</li>
	  							<li>PLC input and output status screens - Used to indicate the PLC I/O description, status and on/off state or value.</li>
	  							<li>Manual override screen - Used to force the various valves on and off for trouble shooting purposes.</li>
	  							<li>Graphs of bed and exhaust temperatures.</li>
	  							<li>System configuration screens.</li>
	  							<li>Password protected loaded shutdown reset screen.</li>
	  							<li>Resettable and non resettable run time meters.</li>
	  							<li>Complete set of Electrical drawings.
	  							<li>Additional screens include:
	  					 			<ul>
	  					 				<li>Main Menu</li>
	  					 				<li>System Information</li>
	  					 				<li>Modify Set Point</li>
	  					 				<li>Manual Override Help</li>
	  					 			</ul>
	  					       </li>
	  		        		</ul>
						</div>
					</div>
				</div>
  				<div role="tabpanel" class="tab-pane fade" id="custom">
					<div class="row container">
						<div class="col-md-12">	
							<h2>Product Customization</h2>
							<h3>Hood Options</h3>
							<p class="caption pull-right pic-mar"><img src="img/tnv_icv.jpg" class="border shadow" /><br />TNV ICV</p>
							<p>The <strong>Dinamec Systems Fluid Clean</strong> fluidized sand bed can be manufactured with a standard RAN hood or an Optional ICV high hood.  The standard RAN hood is suitable for most paint and plastic applications. An ICV high hood is used for especially volatile organics with a low flash point.  The high hood allows a basket to be loaded on dead sand and become fluidized after the hood is closed.  Any fugitive fumes that may be present during loading is contained within the bed itself and removed by the forced air exhaust fan.</p>
							<h3>Flue Gas Cleaning</h3>
							<p><strong>Dinamec Systems Fluid Clean</strong> installations can be supplied with an integrated cyclone or ceramic filter to remove dust particles from flue gases.</p>
							<h3>Neutralizing Corrosive Off Gassing</h3>
							<p>When removing certain halogenated compounds like PVC, Rubber or Teflon&trade;, a dry absorption system can easily be included before the ceramic filter.  A dry powder is injected and acts as a reagent to neutralize acid gasses (HF, SO2, HCL).  The products of the reaction as well as dust are separated from the exhaust stream by means of a ceramic filter.  Typically calcium hydroxide is used for acid gas removal.</p>
							<div class="row" style="margin: 24px 0;"><p class="caption pull-left pic-mar-both"><img src="img/ceramic1.jpg" class="border shadow" /><br />Optional Ceramic Element Filter</p>
							<p class="caption pull-left pic-mar-both"><img src="img/lime1.jpg" class="border shadow" /><br />Lime Injection Unit</p>
							<p class="caption pull-left pic-mar-both"><img src="img/ceramic2.jpg" class="border shadow" /><br />Ceramic Element Filter</p>
							<p class="caption pull-left pic-mar-both"><img src="img/lime2.jpg" class="border shadow" /><br />Lime Injection Unit</p>
						</div>
							<dic class="clearfix"><p>If you are unsure how our <strong>Dinamec Systems Fluid Clean</strong> installation can be of use to your particular industry or production process, please contact us for more information or for an on site evaluation. You can also let us prove our cleaning efficiency by arranging a free test cleaning.</p></dic>
						</div>
					</div>
				</div>
  				<div role="tabpanel" class="tab-pane fade" id="used">
					<div class="row container">
						<div class="col-md-12">  				
		  				<h2>Used Machine</h2>
		  				<hr />
		  				<h3>B-30.10.11 RAN Used</h3>
		  				<p>Complete<br />
		  					118.1"L x 39.4"W x 43.3"D
		  				</p>
		  				<hr />
		  				<h3>B-30.06.06 RAN Used</h3>
		  				<p>Complete<br />
		  					118.1"L x 23.6"W x 23.6"D
		  				</p><br />
		  				<hr />
		  				<p>Please contact us for more information regarding machine capacities.</p>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->
</div>
