<img src="/img/ribbon.png" style="position: absolute; right: 3%; top: 44px; z-index: 1000;" />

<div class="white-ground">
	<div id="tag">
	<div class="top-bar">
		<div class="container">
			<h2 style="font-size: 2.5em; margin-top: 4px; letter-spacing: -1px; color: white;">Dinamec<span style="font-weight: 300; color: #b5b5b5;">Systems</span></h2>
		</div>
	</div>
	<div class="container master-padding">
		<h1>Service</h1>
		<div class="row">
			<div class="col-md-6">
				<p>At Dinamec Systems we provide first class service for our fluidized sand beds. Our parts department maintains a wide selection of spare parts and our service technicians are available for both phone and email assistance as well as on-site service calls.</p>
				<blockquote style="color: #5c1209; margin: 32px 0"><em>"We've needed very little service, and when we did, Dinamec Systems always responded quickly.  I give them an 'A' on service."</em><br /><p>Donnie Glueck, Rubbermaid</p>
				</blockquote>
			</div>
			<div class="col-md-6">
				<h5>Our backup inventory includes:</h5> 
				<ul class="pull-left hidden-xs">
					<li>Air Filter Cartridges 	 </li>
					<li>Blowers 				  	 </li>
					<li>Pilot Burners 		  	 </li>
					<li>Gas Leak Detection Units &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
					<li>Gas Valves 			  	 </li>
					<li>Thermocouples 		  	 </li>
				</ul>	
				<ul class="hidden-xs">	
					<li>Electrical Controls   	 </li>
					<li>Air Cylinder Parts 	  	 </li>
					<li>Flame Cards 			  	 </li>
					<li>Insulation 			  	 </li>
					<li>Sand 					  	 </li>
					<li>Gravel 					  	 </li>
				</ul>
				<ul class="visible-xs">
					<li>Air Filter Cartridges 	 </li>
					<li>Blowers 				  	 </li>
					<li>Pilot Burners 		  	 </li>
					<li>Gas Leak Detection Units</li>
					<li>Gas Valves 			  	 </li>
					<li>Thermocouples 		  	 </li>
					<li>Electrical Controls   	 </li>
					<li>Air Cylinder Parts 	  	 </li>
					<li>Flame Cards 			  	 </li>
					<li>Insulation 			  	 </li>
					<li>Sand 					  	 </li>
					<li>Gravel 					  	 </li>
				</ul>
				<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 style="margin-top: 0;">The Dinamec Systems Fluid Clean provides on-board diagnostics for personnel who maintain the equipment.</h3>
			</div>
		</div>
		<br />
		<div class="row hidden-xs">
			<div class="col-md-6 col-sm-6 col-lg-6">
				<img src="img/dscreen.jpg" />
			</div>
			<div class="col-md-6 col-sm-6 col-lg-66">
				<img src="img/oscreen.jpg" />
			</div>
		</div>
		<br />
		<div class="row hidden-xs">
			<div class="col-md-6 col-sm-6 col-lg-6">
				<img src="img/graphing.jpg" />
			</div> 
		</div>
		<div class="row visible-xs">
			<div class="col-xs-12">
				<img src="img/dscreen.jpg" width="100%" /><br /><br />
			</div>
			<div class="col-xs-12">
				<img src="img/oscreen.jpg" width="100%" /><br /><br />
			</div>
			<div class="col-xs-12">
				<img src="img/graphing.jpg" width="100%" /><br />
			</div> 
		</div>
	</div></div>
</div>
