<div class="white-ground">
	<div class="container">
		<h2 style="font-size: 2.5em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
	</div>
	<div class="container master-padding">
		<h1>Services</h1>
		<p>At Dinamec Systems we provide first class service for our fluidized sand beds. Our parts department maintains a wide selection of spare parts and our service technicians are available for both phone and email assistance as well as on-site service calls.</p>
		<blockquote style="color: #5c1209;"><em>"We've needed very little service, and when we did, Dinamec Systems always responded quickly.  I give them an 'A' on service."</em><br /><p style="text-align: right;">Donnie Glueck, Rubbermaid</p>
		</blockquote>
		<h5>Our backup inventory includes:</h5> 
		<ul class="floatleft">
			<li>Air Filter Cartridges 	 </li>
			<li>Blowers 				  	 </li>
			<li>Pilot Burners 		  	 </li>
			<li>Gas Leak Detection Units &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
			<li>Gas Valves 			  	 </li>
			<li>Thermocouples 		  	 </li>
		</ul>	
		<ul>	
			<li>Electrical Controls   	 </li>
			<li>Air Cylinder Parts 	  	 </li>
			<li>Flame Cards 			  	 </li>
			<li>Insulation 			  	 </li>
			<li>Sand 					  	 </li>
			<li>Gravel 					  	 </li>
		</ul>
		<br />
		<h3>The Dinamec Systems Fluid Clean provides on-board diagnostics for personnel who maintain the equipment.</h3>
		<br /><img src="img/dscreen.jpg" /><br /><br />
		<img src="img/oscreen.jpg" /><br /><br />
		<img src="img/graphing.jpg" />
	</div> <!-- /container -->
</div>
