@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,300,400,600,700|Shadows+Into+Light+Two);
/*font-family: 'Shadows Into Light Two', cursive;*/

body {
  padding-top: 50px;
  background-color: #ffffff;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 15px;
}

.container	{
   -webkit-transition: all .8s ease-in-out;
        -o-transition: all .8s ease-in-out;
           transition: all .8s ease-in-out;
}

.blue-ground	{
	background-color: #195fae;
}

.white-ground	{
	background-color: white;
}

.master-padding	{
	padding-top: 14px;
	padding-bottom: 48px;
}

ul li	{
	margin-bottom: .5em;
}

.navbar ul li	{
	margin-bottom: 0;
}


/*------------   Tabs   --------------*/

.nav-tabs {
  border-bottom: 1px solid #bbbbbb;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  margin-left: 2px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #bbbbbb;
  border-radius: 4px 4px 0 0;
  background-color: #eeeeee;
}

.nav-tabs > li > a:hover {
  border-color: #bbbbbb;
  color: #ffffff;
  background-color: #1d73d4;
   -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
           transition: all .2s ease-in-out;

}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #a70011;
  cursor: default;
  border: 1px solid #bbbbbb;
  border-bottom-color: transparent;
  
}


/*------------   Navbar   --------------*/

.navbar 	{
	background-color: transparent;
	border-bottom: #195fae 2px solid;
   background-color: #207ce5;
   background-image: -moz-linear-gradient(top, #ffffff, #e1e6ef);
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e1e6ef));
   background-image: -webkit-linear-gradient(top, #ffffff, #e1e6ef);
   background-image: -o-linear-gradient(top, #ffffff, #e1e6ef);
   background-image: linear-gradient(to bottom, #ffffff, #e1e6ef);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e6ef', GradientType=0);
}

.nav	{
	font-weight: 400;
	font-size: .9em;
}

ul nav .nav-tabs li	{
	background-color: red;
}

.navbar .nav > li > a	{
	text-decoration: none;
	background-color: transparent;
	color: #000;
	padding-right: 9px;
	padding-left: 9px;
}

.navbar .nav > li > a:hover	{
   color: #ffffff;
   text-decoration: none;
   background-color: #207ce5;
   background-image: -moz-linear-gradient(top, transparent, transparent);
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(transparent));
   background-image: -webkit-linear-gradient(top, transparent, transparent);
   background-image: -o-linear-gradient(top, transparent, transparent);
   background-image: linear-gradient(to bottom, transparent, transparent);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='transparent', GradientType=0);
   -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
           transition: all .2s ease-in-out;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus,
.navbar .nav .active > a:active {
   color: #ffffff;
   text-decoration: none;
   background-color: #1d73d4;
   background-image: -moz-linear-gradient(top, #195fae, #1d73d4);
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#195fae), to(#1d73d4));
   background-image: -webkit-linear-gradient(top, #195fae, #1d73d4);
   background-image: -o-linear-gradient(top, #195fae, #1d73d4);
   background-image: linear-gradient(to bottom, #195fae, #1d73d4);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='##195fae', endColorstr='##1d73d4', GradientType=0);
}

/*.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus,
.navbar .nav .active > a:active {
	color: #195fae;
	background-color: #000;
}*/

/*.logo	{
	margin: -20px 0 0 18px;
   -webkit-transition: all .8s ease-in-out;
        -o-transition: all .8s ease-in-out;
           transition: all .8s ease-in-out;
}
*/

hr	{
	border-top: 1px solid #b5b5b5;
}

h1	{
	font-family: 'Shadows Into Light Two', cursive;
	color: #195fae;
	font-size: 2em;
	letter-spacing: 1px;
	line-height: 1.2em;
}

h2	{
	color: #195fae;
	font-size: 1.8em;
	font-weight: 700;
	line-height: 1.3em;
}

h3	{
	color: #195fae;
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.3em;
}

h4	{
	color: #1b4568;
	font-size: 2.3em;
	font-weight: 600;
	line-height: 1.2em;
	margin-bottom: 18px;
}

h5	{
	color: #1b4568;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.2em;
}

h6	{
	color: #1b4568;
	font-size: 1.3em;
	font-weight: 600;
	line-height: 1.2em;
	margin-top: .8em;
}

p	{
	font-size: 1em;
	line-height: 1.6em;
}

.center	{
	text-align: center;
}

.right	{
	text-align: right;
}

.red	{
	color: #de2c00;
}

.gray	{
	color: #95989c;
}

.green	{
	color: #3aa839;
}

.red-ground	{
	background-color: #ff2c2c;
}

.orange-ground	{
	background-color: #ff8000;
   -webkit-text-shadow: 0 -1px 1px rgba(0, 0, 0, .4);
           text-shadow: 0 -1px 1px rgba(0, 0, 0, .4);
}

.green-ground	{
	background-color: #3aa839;
}

.line-up	{
	line-height: .55em;
}

.shadow	{
   -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
           box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}

.border	{
	border: 1px solid #b3b3b3;
}

.pic-pad	{
	margin: 0 24px 24px 0;
	float: left;
}

.pic-mar	{
	margin: 0 24px 6px 24px;
	float: left;
}

.pic-mar-both	{
	margin: 0 12px 6px 12px;
	float: left;
}

#sales img, #parts img	{
	margin-bottom: 14px;
}

.emp	{
	min-height: 320px;
}

blockquote	{
	font-size: 1.2em;
	padding-right: 48px;
}

blockquote p	{
	font-size: .8em;
	padding-top: 12px;
}

label	{
	font-size: .9em;
}

.caption	{
	line-height: 1.2em;
	font-size: .8em;
	padding-top: 9px;
}

.black	{
	font-weight: 700;;
}

.bar	{
	background-color: #677f97;
	margin: 0 0 1em 0;
	padding: 0 0 0 0.5em;
	text-align: left; 
	color: white;
   -webkit-text-shadow: 0 -1px 1px rgba(0, 0, 0, .7);
           text-shadow: 0 -1px 1px rgba(0, 0, 0, .7);
}

.top-bar	{
	background-color: #195fae;
	margin: 1.5em 0 0 0;
	text-align: left; 
	color: white;
   -webkit-text-shadow: 0 -1px 1px rgba(0, 0, 0, .7);
           text-shadow: 0 -1px 1px rgba(0, 0, 0, .7);
}


.footer	{
	background-color: #195fae;
	font-size: .8em;
	line-height: 1.6em;
	text-align: left; 
	color: #fff;
}

.transparent	{
	padding: 0 2em;
	opacity: 0.5;
   -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
           transition: all .3s ease-in-out;
}

.transparent:hover	{
	opacity: 1;
}

div.tag	{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 2.6em;
	padding-top: 9px;
	color: #e5e5e5;
	width: 90%;
}

div.tag-xm	{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 7vmin;
	padding-top: 5%;
	color: #e5e5e5;
	width: 90%;
}

/*------------   Footer   --------------*/

.footer	{
	background-color: transparent;
	padding-top: 1.5em;
	padding-bottom: 3em;
	font-size: .75em;
	line-height: 1.8em;
	text-align: left; 
	color: #fff;
}

.footer hr	{
	border-top: 1px solid #1f79de;
	margin-top: 1.5em;
}

.footer .a	{
	color: white;
}



/*------------   Form Signin   --------------*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto 48px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
	color: #195fae;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*------------   Table   --------------*/

table#beds	{
	-webkit-box-shadow: 0px 2px 8px #9a9a9c;
	-moz-box-shadow: 0px 2px 8px #9a9a9c;
	box-shadow: 0px 2px 8px #9a9a9c;
}

table#beds tr#section1 th	{
	background-color: #195fae;
	text-align: center;
	color: #ffffff;
	text-shadow: -1px -1px 0px #000;
	padding: 14px 0 14px 0;
}

table#beds tr#section2 th	{
	background-color: #1c70cd;
	text-align: center;
	color: #ffffff;
	text-shadow: -1px -1px 0px #000;
	padding: 4px 12px;
}

table#beds tr.type th	{
	background-color: #1e78db;
	text-align: center;
	color: #ffffff;
	text-shadow: -1px -1px 0px #000;
	padding: 6px 18px;
}
table#beds tr.type2 th	{
	background-color: #000000;
	text-align: center;
	color: #ffffff;
	padding: 6px 2px;
}

table#beds tr td	{
	padding-left: 18px;
	padding-bottom: 3px;
	padding-right: 18px;
	padding-top: 3px;
	background-color: #eaeaea;
	border: #b5b5b5 1px solid;
}





#tag {
    position: relative;

    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-duration: .3s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: .3s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .3s;
}
@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateX(0px);
		  opacity: 0;
    }
    100% {
        -moz-transform: translateX(0);
		  opacity: 1;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateX(0px);
		  opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
		  opacity: 1;
    }
}
@keyframes dropHeader {
    0% {
        transform: translateX(0px);
		  opacity: 0;
    }
    100% {
        transform: translateX(0);
		  opacity: 1;
    }
}

#tag2 {
    position: relative;

    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-duration: 1s;
	 
    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
	 
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
	 
}
@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateX(0px);
		  opacity: 0;
    }
    100% {
        -moz-transform: translateX(0);
		  opacity: 1;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateX(0px);
		  opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
		  opacity: 1;
    }
}
@keyframes dropHeader {
    0% {
        transform: translateX(0px);
		  opacity: 0;
    }
    100% {
        transform: translateX(0);
		  opacity: 1;
    }
}

#alert {
	display: none;
	position: absolute;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	text-shadow: -1px -1px 0px #000;
	display: block;
	background-color: #3aa839;
	padding: 2px 0;
	margin: 0px auto 0 auto;
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	z-index: 999;
}

.nojavascript {
	display: none;
	position: fixed;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 0.8em;
	display: block;
	background-color: #000000;
	padding: 7px 0;
	margin: 0 auto 0 auto;
	text-align: center;
	color: #ffd218;
	font-weight: 300;
	z-index: 1444;
}


.ctaction	{
	padding-top: .5em;
	background-color: #1960af;
	color: #ffffff;
	font-size: 1.2em;
	font-weight: 300;
	text-shadow: -1px -1px 0px #000;
   -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
           border-radius: 8px;
 	background-image: -moz-linear-gradient(top, #195fae, #1d73d4);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#195fae), to(#1d73d4));
  	background-image: -webkit-linear-gradient(top, #195fae, #1d73d4);
  	background-image: -o-linear-gradient(top, #195fae, #1d73d4);
  	background-image: linear-gradient(to bottom, #195fae, #1d73d4);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#195fae', endColorstr='#1d73d4', GradientType=0);
}

#primary	{
	padding-top: 1.6em;
	padding-bottom: 2.5em;
	z-index: 10000;
}

#primary a.main-button	{
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.4em;
	line-height: 1.8em;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.1);
	text-decoration: none;
	padding: 2px 18px 6px 18px;
	line-height: 32px;
	border: none;
	border: 3px dotted #999;
   -webkit-border-radius: 22px;
      -moz-border-radius: 22px;
           border-radius: 22px;
  -webkit-transition: 0.2s ease-in-out;
     -moz-transition: 0.2s ease-in-out;
       -o-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out;
}

#primary a.main-button:hover	{
	border: 3px dotted yellow;
	background-color: rgba(0, 0, 0, 0.4);
}

.news-date	{
	font-weight: 400;
	font-size: .9em;
	color: #000000;
	line-height: 14px;
	padding: 0;
	margin: 24px 0 0 0;
}

.news-link	{
	line-height: 0px;
}

a.news-link	{
	color: #195fae;
	font-weight: 600;
	font-size: 1em;
	padding: 0;
	margin: 0;
}

a.news-link:hover	{
	color: #fb0524;
	text-decoration: none;
}

#news a	{
	color: #ffff8c;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px dotted #ffffff;
	line-height: 1.8em;
	text-shadow: -1px -1px 1px #555;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

#news a:hover	{
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	text-shadow: -1px -1px 1px #555;
}

#news img	{
	border: 2px solid #fff;
   -webkit-border-radius: 6px 6px 6px 6px;
      -moz-border-radius: 6px 6px 6px 6px;
           border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
         -box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

a.under-link	{
	color: #195fae;
	font-weight: 600;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px dotted #868686;
	line-height: 1.8em;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

a.under-link:hover	{
	text-decoration: none;
	color: #a70011;
	border-bottom: 1px solid #000000;
}






.temp	{
	color: #ff2c2c;
	font-weight: 700;
}

.orange	{
	color: #ff8000;
}

