<img src="/img/ribbon.png" style="position: absolute; right: 3%; top: 44px; z-index: 1000; width: 170px;" class="hidden-xs" />

<div class="white-ground">
	<div id="tag">
		<div class="container">
			<img src="/img/dinamec-logo-notag.png" style="width: 180px; margin-top: 14px;">
		</div>
		<div class="top-bar" style="margin-top: 12px; font-size: 0.45em;">&nbsp;</div>
	</div>
	
	<div class="container master-padding">
		<h1>Industries</h1>
		<div role="tabpanel">
  			<ul class="nav nav-tabs" role="tablist">
  				<li role="presentation" class="active"><a href="#paint" aria-controls="paint" role="tab" data-toggle="tab">Paint & Powder</a></li>
  				<li role="presentation"><a href="#plastic" aria-controls="plastic" role="tab" data-toggle="tab">Plastic</a></li>
				<li role="presentation"><a href="#rubber" aria-controls="rubber" role="tab" data-toggle="tab">Rubber</a></li>
  				<li role="presentation"><a href="#foundry" aria-controls="foundry" role="tab" data-toggle="tab">Foundry</a></li>
  			</ul>
  			<div class="tab-content">
  				<div role="tabpanel" class="tab-pane fade in active" id="paint">
  					<div class="row container">
  						<div class="col-md-10">
							<h2>Paint and Powder Coating Removal</h2>
							<p>The <strong>Dinamec Systems Fluid Clean</strong> installation is available in 3 different designs (RAN, ICV, and TNV) to fully comply with your particular stripping needs.  The Dinamec Systems fluidized bed forms the basis of these three designs which are available in several standard sizes.  Our team of specialists will carefully select the best design for your specific business and local regulations.</p>
							<br />                                             
							<h3>Applications</h3>
							<p>Easy and thorough removal of all types of paint and powder coatings, through thermal cleaning, <strong>Dinamec Systems Fluid Clean</strong> installations remove:</p>
							<ul>
								<li>All possible organic substances: Powder coatings, e-coat, clearcoat, cured wet paint, water-based paint, varnish, metallic paint etc.</li>
								<li>From all kinds of large metal parts: Hooks, frames, jigs, grates, reject parts, and baskets etc.</li>
							</ul>
							<br />
							<div class="row">
							<div class="col-md-10 col-sm-10">
							<p class="caption pic-mar-both"><img src="/img/paint_1a.jpg" class="border shadow" /><br />Before Paint Removal</p>
							<p class="caption pic-mar-both"><img src="/img/paint_1b.jpg" class="border shadow" /><br />After Fluidized Bed Cleaning</p>
							</div>
							<div class="col-md-10 col-sm-10">
							<p class="caption pic-mar-both"><img src="/img/paint_2a.jpg" class="border shadow" /><br />Before Paint Removal</p>
							<p class="caption pic-mar-both"><img src="/img/paint_2b.jpg" class="border shadow" /><br />After Fluidized Bed Cleaning</p>
							</div>
							<div class="col-md-10 col-sm-10">
							<p class="caption pic-mar-both"><img src="/img/paint_3a.jpg" class="border shadow" /><br />Before Paint Removal</p>
							<p class="caption pic-mar-both"><img src="/img/paint_3b.jpg" class="border shadow" /><br />After Fluidized Bed Cleaning</p>
						</div></div>
						<br />
							<p>In every industry: Our <strong>Dinamec Systems Fluid Clean</strong> installations serve OEMs and end-users in Appliances (washers, refrigerators, air conditioners...) - Locks &amp; Metal Frames - Ceramics - Furniture &amp; Shelving - Automotive (cars, trucks, motorcycles, agricultural machinery, trailers...) - Sub-Automotive - Garden Appliances - Lighting Fixtures - Heating Equipment &amp; Radiators - Contract Cleaners - Custom Coaters - Road Signs &amp; Light Poles - Toy Industry and many more.</p>
							<h3>Advantages</h3>
							<ul>
								<li>Thorough cleaning</li>
								<li>Short cleaning cycles</li>
								<li>No hot spots to damage your parts, as sand temperature is uniform throughout the bed</li>
								<li>Suitable for removing difficult organic compounds like PVC, PTFE, rubber etc.</li>
								<li>Easy to operate and smooth material handling</li>
								<li>Low maintenance cost</li>
								<li>Low energy cost</li>
								<li>Environmentally-friendly technology (no toxic chemical involved and no hazardous waste/wastewater generated from the process).</li>
								<li>Proven technology (over 2,000 satisfied <strong>Dinamec Systems Fluid Clean</strong> customers worldwide)</li>
							</ul>
							<hr />
							<p class="center"><strong>Paint Removal Brochure</strong> &nbsp; &nbsp; <a href="/img/downloads/Paint-and-Powder-2016.pdf" class="btn btn-info btn-xs">View</a> &nbsp; &nbsp; <a href="/img/downloads/Paint-and-Powder-2016.pdf.zip" class="btn btn-info btn-xs">Download</a></p>
						</div>
					</div>
				</div>
				
				
				
				
				
				<div role="tabpanel" class="tab-pane fade" id="plastic">
					<div class="row container">
						<div class="col-md-10">
							<h2>Plastic Removal</h2>
							<p><strong>Dinamec Systems</strong> offers multiple installations to fit your thermal cleaning needs.  We offer our Fluid Clean sand beds in 3 differend designs (RAN, ICV and TNV). We are also the only North American distributor for <strong>Schwing Technologies</strong>. This provides us the opportunity to offer the InnovaClean and the VacuClean. Our team of specialists will carefully select the best design for your specific business and local regulations and also for your cleaning needs.</p>
							<h3>Applications</h3>
							<p>Unique design for fast and thorough removal of plastic of all types of polymers, polyesters, and wax from plastics processing parts.</p>
							<p><strong>Dinamec Systems Fluid Clean</strong> and <strong>Schwing Technologies Thermal Cleaning</strong> installations remove:</p>
							<ul>
								<li><strong>All Organic Substances:</strong> Polyethylene (PE), Polypropylene (PP), Polyurethane (PUR), Polycarbonate, Polysulfone, Polyetherimide, plastics with fillers (glass fibers, chalk, glass beads), plastics with flame retardants, difficult plastics to remove (PVC, PEEK, PES, Ultem), PTFE (Teflon), and all types of rubber.</li>
								<li><strong>From All Kinds of Metal Parts:</strong> Molds, extrusion screws, polymer pumps, filters, dies, breaker plates, mixing trays etc.</li>
								<li><strong>In Any Industry:</strong> Our installations serve OEMs and end-users in Wire & Cable - Injection Molding - Blow Molding - Recycling - Automotive - Sub-Automotive - Laboratory - Chemical & Petrochemical (granulate) - Clothing & Textile - Compounding - Extrusion (granulate, foil, piping) - Fiber - Foam - Glue & Varnish - Foundry - Furniture - Home Appliances - Information Technology - Luggage - Machinery - Marine - Medical - Optical - Packaging (bottles, foil, film, bags, sheet etc.) - Petrochemical - Pharmaceutical - Piping - Plastic compounding - Plastic Processing - Telecom - Toy - and many more...</li>
							</ul>
							<br />
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<p class="center"><img src="/img/plastic1.png"/><br />Before Plastic Removal</p>
								</div>
								<div class="col-md-4 col-sm-4">
									<p class="center"><img src="/img/plastic2.png"/><br />After Fluidized Bed Cleaning</p>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<p class="center"><img src="/img/plastic3.png"/><br />Before Plastic Removal</p>
								</div>
								<div class="col-md-4 col-sm-4">
									<p class="center"><img src="/img/plastic4.png"/><br />After Fluidized Bed Cleaning</p>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<p class="center"><img src="/img/plastic5.png"/><br />Before Plastic Removal</p>
								</div>
								<div class="col-md-4 col-sm-4">
									<p class="center"><img src="/img/plastic6.png"/><br />After Fluidized Bed Cleaning</p>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<p class="center"><img src="/img/plastic7.png"/><br />Before Plastic Removal</p>
								</div>
								<div class="col-md-4 col-sm-4">
									<p class="center"><img src="/img/plastic8.png"/><br />After Fluidized Bed Cleaning</p>
								</div>
							</div>
							<br />

							<h3>Advantages Dinamec Systems Fluid Clean</h3>
							<ul>
								<li>Thorough cleaning </li>
								<li>Short cleaning cycles</li>
								<li>No damage to parts due to homogenous heat dispersion throughout the fluidized bed</li>
								<li>Suitable for removing organic compounds like PVC, PTFE, rubber etc.</li>
								<li>Easy to operate with smooth material handling</li>
								<li>Low maintenance cost</li>
								<li>Environmentally-friendly technology with state-of-the-art flue gas cleaning</li>
								<li>Proven technology (over 2,000 satisfied <strong>Dinamec Systems Fluid Clean</strong> customers worldwide)</li>
					 		</ul>
							<h3>Advantages Schwing VacuClean</h3>
							<ul>
								<li>Complete removal of organic adherent matter, free from carbon residues</li>
								<li>Precise, reliable and gentle cleaning of large tools and components</li>
								<li>Easy installation (no gas), low operating costs</li>
								<li>Increased tool life and life cycles, reduced machine downtimes</li>
							</ul>
							
							<br />
					 		
							<hr style="clear: both;" />
							<p class="center"><strong>Plastic Removal Brochure</strong> &nbsp; &nbsp; <a href="/img/downloads/Polymer-2016-with-Nozzle.pdf" class="btn btn-info btn-xs">View</a> &nbsp; &nbsp; <a href="/img/downloads/Polymer-2016-with-Nozzle.pdf.zip" class="btn btn-info btn-xs">Download</a></h5>
						</div>
					</div>
				</div>
				
				
				
				<div role="tabpanel" class="tab-pane fade" id="rubber">
					<div class="row container">
						<div class="col-md-10">
							<h2>Rubber Denuding</h2>
							<p>Removing rubber from metal parts significantly increases the life cycle of this equipment. Instead of replacing it with new equipment, the combination of denuding and refurbishment of metal parts has proven to be a cost-saving solution.</p> 
							<p>Based on the unique and proven <strong>Dinamec Systems Fluidized Bed Technology</strong>, all the advantages of our Fluidized Bed applications are also applicable to the <strong>Rubber Denuding</strong> application. Thorough cleaning, short cleaning cycles and ease of operation, with no damage to parts being cleaned.</p>
							<p>As well as thoroughly removing all rubber from metal parts, our rubber denuding installations also ensure a clean and safe solution for both the environment and for your operators.</p>
							
							
					 		<h2>Military Applications</h2>
							
							<img src="/img/redriver.jpg" class="border shadow pull-left" style="margin: 9px 24px 36px 0;" />
							
							<p>With the use of our technology to denude tank tracks and other military parts, we have installations worldwide. The United States Army, the Korean Army and the Greek Army all use our <strong>Rubber Denuding</strong> technology system.</p>
							<p>
							</p>
							<p>The Red River army system is a multimillion dollar turnkey installation capable of removing 750 pounds of rubber per hour from tracked vehicles. This is the second installation of <strong>Dinamec Systems</strong> chosen by the United States Army for this purpose.</p>
						</div>
					</div>
				</div>
				
				
				
				
				
				<div role="tabpanel" class="tab-pane fade" id="foundry">
					<div class="row container">
						<div class="col-md-10">
							<h2>Decoring, Heat treatment &amp; Sand Recovery in a Fluidized Bed</h2>
							<div class="pull-right col-md-3"><br />
								<img src="/img/foundry1.jpg" class="border shadow pic-mar" style="margin-bottom: 18px;" /><br />
								<img src="/img/foundry2.jpg" class="border shadow pic-mar" style="margin-bottom: 18px;" /><br />
								<img src="/img/foundry3.jpg" class="border shadow pic-mar" style="margin-bottom: 18px;" />
							</div>
							<h6>1. Decoring</h6>
							<p>Removing the sand cores from the aluminum parts is often a tedious job as the sand cores can be very integrated inside the casting and hard due to the use of organic binders.</p>
							<p>The Dinamec Systems&rsquo; <strong>Deco</strong> fluid bed installation is the perfect solution for the gentle and smooth decoring of aluminum parts.</p>
							<p>The heat dispersion in the fluid sand bed is perfectly homogeneous and as it is a foundry sand bed, the remaining foundry sand can simply stay in the machine. A sand spout will automatically remove any surplus of sand, which can then be recovered for new castings production.</p>
							<h6>2. Solution Heat Treatment</h6>
							<p>Simultaneous  or separately to the decoring, aluminum castings can undergo a rapid  solution heat treatment with cycle times 3 to 4 times shorter than in a conventional air heat treat furnaces.</p>
							<h6>3. Quenching</h6> 
							<p>After the solution heat treatment, the castings can be quenched in a Dinamec Systems Water Quench or a Dinamec Systems fluidized sand bed.</p>
							<h6>4. Aging</h6> 
							<p>A final aging step can be added in a conventional air oven or again, a hot fluidized sand bed. Using the fluidized bed for the aging will provide  reduced residence times while obtaining similar or better mechanical properties compared to traditional air furnaces.</p>
							<h6>5. Deco + Fully Automated Product Line</h6>
							<div class="pull-right col-md-3">
								<img src="/img/foundry4.jpg" class="border shadow pic-mar" style="margin-bottom: 18px;" /><br />
								<img src="/img/foundry5.jpg" width="240px"  class="border shadow pic-mar" />
							</div>
							<p>Installation consists of three consecutive fluid beds, operating in one fully automated production line.</p>
							<ul>  
								<li><strong>The First Fluid Bed</strong> operates at a temperature ranging between 968-1020&ordm; F, and removes the sand cores from the aluminum castings by gasification of the organic binding materials; The excess sand coming from the moulds &amp; cores is collected and can be reused for the production of new sand moulds.  At the same time the solution heat treatment is performed.</li>
								
								<li><strong>The Second Fluid Bed</strong> is working at room temperature (70 to 170&ordm; F) and is used to quench the aluminum castings after the decoring and solution heat treatment.  The sand in this second bed is constantly cooled down to its set temperature.</li>
								<li><strong>The Third Fluid Bed</strong> is operated at temperatures between 320-470&ordm; F, and is used for the ageing of the aluminum parts. Ageing will only take 60-120 minutes with this process.</li>
							</ul>
							<h6>3 to 4 Times Faster Production Process</h6>
							<p>The process  can be fully automated. The complete operation (decoring, solution heat treatment, quenching and aging) typically takes between 3 to 4 hours.</p>
							<h6>Summary of Advantages By Using Dinamec Systems Deco Installation</h6>
							<ul>
								<li>Gentle removing of the sand cores from the smallest channels and most narrow gaps</li>
								<li>Homogeneous heat dispersion guarantees uniform heat treatment for your aluminum castings</li>
								<li>Automatic sand recovery after decoring</li>
								<li>Total heat treatment cycle is up to 3 to 4 times faster than classic T6 treatment in traditional air furnaces</li>
							</ul>
							<br />
							<h3>Please contact us for additional information and to arrange Decoring and heat treatment testing.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div></div>
</div>
