<img src="/img/ribbon.png" style="position: absolute; right: 3%; top: 44px; z-index: 1000;" />

<div class="white-ground">
	<div id="tag">
		<div class="top-bar">
			<div class="container">
				<h2 style="font-size: 2.5em; margin-top: 4px; letter-spacing: -1px; color: white;">Dinamec<span style="font-weight: 300; color: #b5b5b5;">Systems</span></h2>
			</div>
		</div>
	<div class="container master-padding">
		<h1>Product Line</h1>
		<div role="tabpanel">
  			<ul class="nav nav-tabs" role="tablist">
  				<li role="presentation" class="active"><a href="#sandbed" aria-controls="sandbed" role="tab" data-toggle="tab">Fluidized Sand Bed</a></li>
  				
				<li role="presentation"><a href="#innova" aria-controls="innova" role="tab" data-toggle="tab">InnovaClean</a></li>
				<li role="presentation"><a href="#vacu" aria-controls="vacu" role="tab" data-toggle="tab">VacuClean</a></li>
				
				<li role="presentation"><a href="#custom" aria-controls="custom" role="tab" data-toggle="tab">Customization</a></li>
  				<li role="presentation"><a href="#used" aria-controls="used" role="tab" data-toggle="tab">Used Machines</a></li>
  			</ul>
  			<div class="tab-content">
  				<div role="tabpanel" class="tab-pane fade in active" id="sandbed">
  					<div class="row container">
  						<div class="col-md-10">
							<h2>Fluidized Sand Bed</h2>
							<h3>Choosing the Right Dinamec Systems Fluidized Bed for Your Application</h3>
							<p>A range of standard <strong>Dinamec Systems Fluid Clean</strong> machine configurations is available to comply with your particular cleaning needs.  Our experienced engineering department, combined with a flexible production department allows us to offer <strong>custom-made</strong> installations for special projects.</p>
							<br />
							<p class="caption pull-left" style="margin-right:48px;"><img src="/img/topview2.jpg" class="border shadow" /><br />D-Type ICV</p>
							<p class="caption"><img src="/img/btype.jpg" class="border shadow" /><br />B-Type ICV</p>
							<br /> <br />
							<p>  
								<table id="beds">
			  		          	<tr id="section1">
			  		          		<th colspan="4">Fluidized Bed Dimensions<br />
											<span style="font-weight: 400;">Inside of Bed</span><br />

			  		          		Standard Machines<br />
			  		          		<span style="font-weight: 400;">All Models Are Available in RAN (flat hood) and ICV (clam shell hood)</span>
			  							</th>
			  		          	</tr>
			  		          	<tr class="type">
			  		          		<th>
			  		          		</th>	
			  		          		<th>
			  							Loading Basket<br />
			  							<span style="font-weight: 400;">(inner dimensions)</span>
			  						</th>	
			  		          		<th>
			  							Maximum Loading <br /><span style="font-weight: 400;">(Steel)*</span>
			  						</th>	
			  		          		<th>
			  							Organic Load**
			  						</th>	
			  		          	</tr>
				  					<tr class="type2">
			  		          		<th>Type</th>
			  		          		<th>LxW/DxH (inch)</th>
			  		          		<th>(lbs)</th>
			  		          		<th>(lbs/batch)</th>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>D-080606</td>	
			  		          		<td class="center">23x17x22</td>	
			  		          		<td class="center">128</td>	
			  		          		<td class="center">4 &ndash; 11</td>	
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>D-160606</td>	
			  		          		<td class="center">54x17x22</td>
			  		          		<td class="center">272</td>
			  		          		<td class="center">7 &ndash; 21</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>B-181008</td>	
			  		          		<td class="center">62x33x30</td>
			  		          		<td class="center">708</td>
			  		          		<td class="center">16 &ndash; 45</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>B-240808</td>	
			  		          		<td class="center">86x25x30</td>
			  		          		<td class="center">751</td>
			  		          		<td class="center">17 &ndash; 48</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>B-301011</td>	
			  		          		<td class="center">110x33x41</td>
			  		          		<td class="center">2,071</td>
			  		          		<td class="center">30 &ndash; 86</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  		          		<td>B-201611</td>	
			  		          		<td class="center">70x56x41</td>
			  		          		<td class="center">2,258</td>
			  		          		<td class="center">33 &ndash; 92</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  						<td>B-401011</td>	
			  						<td class="center">153x33x41</td>
			  						<td class="center">2,771</td>
			  						<td class="center">41 &ndash; 115</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  						<td>B-341414</td>	
			  						<td class="center">125x49x52</td>
			  						<td class="center">4,530</td>
			  						<td class="center">54 &ndash; 152</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  						<td>B-321616</td>	
			  						<td class="center">117x56x61</td>
			  						<td class="center">5,748</td>
			  						<td class="center">62 &ndash; 174</td>
			  		          	</tr>
			  		          	<tr style="text-aligh: center;">
			  						<td>B-541613</td>	
			  						<td class="center">204x56x49</td>
			  						<td class="center">7,985</td>
			  						<td class="center">95 &ndash; 267</td>
			  		          	</tr>
			  		          	<tr>
			  						<td colspan="4"><small>*Amount of steel not including the basket that can be loaded into the machine (do not deduct basket)</small><br />
			  							<small>** Depending on capacity of thermal afterburner and type of organic/plastic contamination.</small></td>	
			  		          	</tr>
			  		          </table>
							 </p> <br /> 
							 <p>All dimensions are in inches. Please note that the capacity of our machines are not exclusively determined by the bed volume. Also to be considered are the type and amount of organics removed and the amount of metal to be processed.</p>
							 <h3>PLC based control system with 10" color touch screen Operator Interface</h3>
							 <p class="pull-right" style="margin: 24px;"><img src="/img/controls.jpg" class="border shadow" /></p>
							 <p>Features Include:</p>
							 <ul>
	  							<li>Main operator screen - Used to set cycle time, enter temperature set points, Graphically show machine operation, show text based messaging for machine operation and alarm conditions, access other system screens.</li>
	  							<li>Alarm condition history with date and time stamp.</li>
	  							<li>PLC input and output status screens - Used to indicate the PLC I/O description, status and on/off state or value.</li>
	  							<li>Manual override screen - Used to force the various valves on and off for trouble shooting purposes.</li>
	  							<li>Graphs of bed and exhaust temperatures.</li>
	  							<li>System configuration screens.</li>
	  							<li>Password protected loaded shutdown reset screen.</li>
	  							<li>Resettable and non resettable run time meters.</li>
	  							<li>Complete set of Electrical drawings.
	  							<li>Additional screens include:
	  					 			<ul>
	  					 				<li>Main Menu</li>
	  					 				<li>System Information</li>
	  					 				<li>Modify Set Point</li>
	  					 				<li>Manual Override Help</li>
	  					 			</ul>
	  					       </li>
	  		        		</ul>
							

					 		
							<!-- <hr style="clear: both;" />
							<p class="center"><strong>Dinamec Brochure</strong> &nbsp; &nbsp; <a href="/img/downloads/DinamecGeneralBrochure.pdf" class="btn btn-info btn-xs">View</a> &nbsp; &nbsp; <a href="/img/downloads/DinamecGeneralBrochure.pdf.zip" class="btn btn-info btn-xs">Download</a></h5> -->
								
								
								
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="innova">
					<div class="row container">
						<div class="col-md-12" style="margin: 18px 0 0 0;">	
							<img src="/img/innovaclean-logo.png" />
							<br /><br />
							<p>INNOVACLEAN is a compact, environmentally and user friendly fluidized bed pyrolysis system which removes all polymers - even halogenated substances such as PVC or PTFE - quickly and reliably from small and medium-size tools and components.</p>
							<ul>
								<li>Very fast residue-free cleaning in only a single process step</li>
								<li>Flexible reliable cleaning of assembled and disassembled tools</li>
								<li>Effective and environmentally compatible removal of ALL plastics</li>
								<li>Increased tool life, reduced machine downtimes</li>
							</ul>
							
							<div class="pull-left" style="margin: 12px 12px 12px 0;">
								<img src="/img/innova-1.jpg" />
								<p class="caption">INNOVACLEAN 2440 INB</p>
							</div>
							<div class="pull-left" style="margin: 12px 24px 12px 0;">
								<img src="/img/innova-2.jpg" />
								<p class="caption">Operating panel</p>
							</div>
							<div class="pull-left" style="margin: 12px 0 12px 0;">
								<img src="/img/innova-3.jpg" />
								<p class="caption">Integrated afterburner</p>
							</div>
							
							<p style="clear: left;">INNOVACLEAN carbonizes any polymer without residues within one to two hours, for example, from injection nozzles and die plates as well as with slightly longer cleaning times from spin nozzles and assembled spin packs, static mixers, assembled pumps, backflow preventers, hot runner components and many other components.</p>
							
							
							<div class="pull-right" style="margin: 0 0 12px 12px; clear: left;">
								<img src="/img/innova-4.jpg" />
								<p class="caption">INNOVA-CLEAN 2448ST <br />with loading basket/crane</p>
							</div>
							<p>The precisely controllable cleaning process of INNOVACLEAN utilizes the material and heat transfer of fluidized THERMCLEAN sand (fluidized bed). The product to be cleaned is freed from plastic quickly and without mechanical or thermal interference at polymer-dependent temperatures from 450 to 520 °C.</p>
							<p>INNOVACLEAN works completely without waste water and waste. The generated low temperature carbonization gases are cleaned with an integrated thermal afterburner. On request, INNOVACLEAN will be equipped with a separate thermal afterburner or waste air washer for the pyrolysis gases from PVC, PTFE, etc. INNOVACLEAN systems may be set up and operated in Germany without an approval application because of their compact design and size.</p>
							<p>INNOVACLEAN increases tool life and helps significantly reduce machine downtimes.</p>
							<br />
							<a href="http://www.schwing-technologies.com" target="blank"><img src="/img/schwing.png" style="border: 1px solid margin-left: 24px; #b2b5bc;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;" class="shadow" /></a>
						</div>
					</div>
				</div>
				
				
				
				
				<div role="tabpanel" class="tab-pane fade" id="vacu">
					<div class="row container">
						<div class="col-md-12" style="margin: 18px 0 0 0;">	
							<img src="/img/vacuclean-logo.png" />
							<br /><br />
							<p>VACUCLEAN is an easy to install, environmentally and user friendly vacuum pyrolysis cleaning system (vacuum cleaning oven) for removing plastic residues from tools and long components.</p>
							<ul>
								<li>Complete removal of organic adherent matter, free from carbon residues</li>
								<li>Precise, reliable and gentle cleaning of large tools and components</li>
								<li>Easy installation (no gas), low operating costs</li>
								<li>Increased tool life and life cycles, reduced machine downtimes</li>
							</ul>
							<div class="pull-left" style="margin: 12px 12px 12px 0;">
								<img src="/img/vacu-1.jpg" />
								<p class="caption">VACUCLEAN 154T</p>
							</div>
							<div class="pull-left" style="margin: 12px 24px 12px 0;">
								<img src="/img/vacu-2.jpg" />
								<p class="caption">VACUCLEAN 254T</p>
							</div>
							<div class="pull-left" style="margin: 12px 0 12px 0;">
								<img src="/img/vacu-3.jpg" />
								<p class="caption">VACUCLEAN 454T</p>
							</div>
							<p style="clear: left;">Depending on the system size, product to be cleaned and polymer VACUCLEAN removes organic adhesions within 8 to 30 hours without impacting the tools mechanically or thermally.</p>
							<p>The fully automatic cleaning process of VACUCLEAN takes place in an electrically heated vacuum cleaning chamber. The temperature is measured directly on the product to be cleaned, which is initially heated slowly and especially easy on the material; a large part of the adherent polymers already melts now and drains off. The disintegration of the remaining polymer takes place at approx. 450 °C; the remaining carbon is finally removed by adding air (oxidation). A sophisticated sensor system controls the cleaning process preventing the development of excess temperatures at all times. Inorganic residues can be easily removed through after-treatment, e.g. with compressed air.</p>
							
							<div class="pull-left" style="margin: 0 12px 12px 0;">
								<img src="/img/vacu-4.jpg" />
								<p class="caption">Melting under vacuum</p>
							</div>
							<div class="pull-left" style="margin: 0 24px 12px 0;">
								<img src="/img/vacu-5.jpg" />
								<p class="caption">Vacuum pyrolysis phase</p>
							</div>
							<div class="pull-left" style="margin: 0 0 12px 0;">
								<img src="/img/vacu-6.jpg" />
								<p class="caption">Vacuum oxidation phase</p>
							</div>
							<p style="clear: left;">Through catalytic waste air cleaning VACUCLEAN produces clean air and clean waste water complying with official regulations. VACUCLEAN systems of model series 154f. may be set up and operated in Germany without an approval application because of their compact design and size.</p>
							<p>The especially precise and gentle cleaning quality of VACUCLEAN increases the life of tools and components and reduces interruptions in production.</p>
							<div class="pull-left" style="margin: 12px 12px 12px 0;">
								<img src="/img/vacu-7.jpg" />
								<p class="caption">VACUCLEAN 1212T</p>
							</div>
							<div class="pull-left" style="margin: 12px 24px 12px 0;">
								<img src="/img/vacu-8.jpg" />
								<p class="caption">Loading procedure</p>
							</div>
							<div class="pull-left" style="margin: 12px 0 12px 0;">
								<img src="/img/vacu-9.jpg" />
								<p class="caption">VACUCLEAN schematic diagram</p>
							</div>
							<br style="clear: both;" /><br />
							<a href="http://www.schwing-technologies.com" target="blank"><img src="/img/schwing.png" style="border: 1px solid margin-left: 24px; #b2b5bc;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;" class="shadow" /></a>
						</div>
						
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="custom">
					<div class="row container">
						<div class="col-md-12">	
							<h2>Product Customization</h2>
							<h3>Hood Options</h3>
							<p class="caption pull-right pic-mar"><img src="/img/tnv_icv.jpg" class="border shadow" /><br />TNV ICV</p>
							<p>The <strong>Dinamec Systems Fluid Clean</strong> fluidized sand bed can be manufactured with a standard RAN hood or an Optional ICV high hood.  The standard RAN hood is suitable for most paint and plastic applications. An ICV high hood is used for especially volatile organics with a low flash point.  The high hood allows a basket to be loaded on dead sand and become fluidized after the hood is closed.  Any fugitive fumes that may be present during loading is contained within the bed itself and removed by the forced air exhaust fan.</p>
							<h3>Flue Gas Cleaning</h3>
							<p><strong>Dinamec Systems Fluid Clean</strong> installations can be supplied with an integrated cyclone or ceramic filter to remove dust particles from flue gases.</p>
							<h3>Neutralizing Corrosive Off Gassing</h3>
							<p>When removing certain halogenated compounds like PVC, Rubber or Teflon&trade;, a dry absorption system can easily be included before the ceramic filter.  A dry powder is injected and acts as a reagent to neutralize acid gasses (HF, SO2, HCL).  The products of the reaction as well as dust are separated from the exhaust stream by means of a ceramic filter.  Typically calcium hydroxide is used for acid gas removal.</p>
							<div class="row" style="margin: 24px 0;"><p class="caption pull-left pic-mar-both"><img src="/img/ceramic1.jpg" class="border shadow" /><br />Optional Ceramic Element Filter</p>
							<p class="caption pull-left pic-mar-both"><img src="/img/lime1.jpg" class="border shadow" /><br />Lime Injection Unit</p>
							<p class="caption pull-left pic-mar-both"><img src="/img/ceramic2.jpg" class="border shadow" /><br />Ceramic Element Filter</p>
							<p class="caption pull-left pic-mar-both"><img src="/img/lime2.jpg" class="border shadow" /><br />Lime Injection Unit</p>
						</div>
							<dic class="clearfix"><p>If you are unsure how our <strong>Dinamec Systems Fluid Clean</strong> installation can be of use to your particular industry or production process, please contact us for more information or for an on site evaluation. You can also let us prove our cleaning efficiency by arranging a free test cleaning.</p></dic>
						</div>
					</div>
				</div>
  				<div role="tabpanel" class="tab-pane fade" id="used">
					<div class="row container">
						<div class="col-md-12">  				
							<h2>Used Machine</h2>
		  					<hr />
						</div>
						
						<div class="col-md-6"> 
						
						<h3>B-24.08.08/RAN</h3>
						<p>Year 2008<br />
						Fluidized Bed<br />
						Machine Footprint (LxWxH): 25’ x 19’ x 17’<br />
						ID Basket Dimension (LxWxD): 86” x 25” x 30”</p>
						
						<hr />
						
						<h3>B-30.06.06/RAN</h3>
						<p>Year 1996<br />
						Fluidized Bed<br />
						Machine Footprint (LxWxH): 25’ x 28’ x 16’<br />
						ID Basket Dimension (LxWxD): 110” x 17” x 22”</p>
						
						<hr />
						
						<h3>B-24.04.04/RAN</h3>
						<p>Year 2002<br />
						Fluidized Bed<br />
						Machine Footprint (LxWxH): 16’ x 10’ x 12’<br />
						ID Basket Dimension (LxWxD): 80” x 11” x 13”</p>
						
						<hr class="visible-sm visible-xs" />
						
						</div>
						<div class="col-md-6">
						
						<h3>1648 & Afterburner</h3>
						<p>Year 2001 (Afterburner 1998)<br />
						Fluidized Bed<br />
						Machine Footprint (LxWxH): 34" x 44" x 71"<br />
						Afterburner Footprint (LxWxH): 110" x 27" x 50"<br />
						ID Basket Dimension: 12" Diameter x 44" High</p>
		  				
						
						
						
						
		  				<hr class="hidden-sm hidden-xs" />
						</div>
						<div class="col-md-12">
							<hr />
		  				<p>Please contact us for more information regarding machine capacities.</p>
					 	</div>
					</div>
				</div>
			</div>
		</div>
	</div></div>
</div>
