<div class="white-ground">
	<div class="container">
		<h2 style="font-size: 2em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
	</div>
	<div class="container master-padding">
		<h1 style="margin-bottom: .7em;">Machine</h1>
		<div class="row">
			<div class="col-lg-10">
			<form class="form-horizontal" method="post">
			  <div class="form-group">
			    <label for="name" class="col-sm-2 control-label">Name</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" id="name" name="name" placeholder="Machine Name" value="<%= @machine.name %>">
			    </div>
			  </div>
			  
			  
			  
			  
			  
			  
			  
			  
			  <br />
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-success btn-sm">Save</button> &nbsp; <a class="btn btn-sm btn-default" href="/machines/machines">Cancel</a> &nbsp; <a class="btn btn-sm btn-warning delete" href="/machines/<%= @machine.id %>/delete-machine">Delete</a>
			    </div>
			  </div>
			</form>
			</div>
		</div>
	</div>
</div>
